---
metaTitle: 2dtvshows title
metaDescription: about explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
    <h2 class="title has-text-centered">
      {{__ '2dtvshows title'}}
    </h2>
  </section>

  <section class="section content flexrow use-case">
    <span 
      class="flexrow-item"
      style="width: 300px; height: 200px; background-color: grey;">
    </span>
    <div class="flexrow-item">
      <h2 class="subtitle">
        {{__ '3Dshorts supervisor title'}}
      </h2>
      <p>
        {{__ '3Dshorts supervisor explaination one'}}
      </p>
      <p>
        {{__ '3Dshorts supervisor explaination two'}}
      </p>
      <p>
        {{__ '3Dshorts supervisor explaination three'}}
      </p>
      <p>
        {{__ '3Dshorts supervisor explaination four'}}
      </p> 
    </div> 
  </section>

  <section class="section content flexrow use-case">
    <div class="flexrow-item">
      <h2 class="subtitle">
        For CG Artists
      </h2>
      <p>
        CG artists need a fast access to what they have to do and a simple way
        to communicate on their work by posting comments and previews.
      </p>
      <p>
        When the CG Artist logs in, he lands into his todo-list. In a glimpse,
        he sees what kind of task he has to perform on which entity (asset or
        shot).
      </p>

      <p>
        All task are properly detailed: the time estimated to do it, the priority
        level, the current status and the last comment made on the task.  He can
        sort this list by priority, status or last comment.  
      </p>

      <p>
        With one click, the CG artist can open a comment panel without leaving his
        todo-list and write his answer. It's super fast to answer or send a new
        preview. Finally there is a notification system allowing him to know
        everytime something change on his account.
      </p>
    </div>
    <span 
      class="flexrow-item"
      style="width: 300px; height: 200px; background-color: grey;">
    </span>

  </section>
      

  <section class="section content flexrow use-case">
    <span 
      class="flexrow-item"
      style="width: 300px; height: 200px; background-color: grey;">
    </span>

    <div class="flexrow-item">
      <h2 class="subtitle">
        For Directors
      </h2>
      <p>
        Directors needs an efficient way to review the pending reviews and be
        aware of what's going with the production. That way they can react
        quickly and avoid to the team to waste time because of wrong directions.
      </p>
      <p>
        To achieve that Kitsu provides a playlist system: the Director can review
        in a row several shots right from it. It can be pending reviews or the
        whole movie.  Kitsu comes with edit functions: like changing the shot order
        or switching version on the fly. It allows the Director to be more precise
        about what he wants to see.
      </p>
    </div>
  </section>

  <section class="section content flexrow use-case">

    <div class="flexrow-item">
      <h2 class="subtitle">
        For Production Manager
      </h2>

      <p>
        As a Production Manager you need to track the costs of the production
        and to know what is reviewed and how many times it required a retake.
      </p>

      <p>
        So Kitsu provides you efficient timesheets where yeou you can see the
        number of hours spent per CG Artist, at a day, week or month range on
        which production.
      </p>
      <p>
        For each shot or asset you can see the overall time spent on it. It will 
        help to identify entities that costs too much.
        You can set estimation on every tasks and compare them to the time
        spent for each task.
      </p>
      <p>
        With the statistic pages you can write you producer report faster. You
        don’t have to chase the information. You can report the information on
        your report and see the progress of the production during its lifetime.
      </p>
      <p>
        You don't need to spend too much time gathering the files for the daily
        or weekly review. With the playlist page, you can set the reviews with
        a single click and don't miss anything.
      </p>
    </div>
    <span 
      class="flexrow-item"
      style="width: 300px; height: 200px; background-color: grey;">
    </span>
  </section>
  
  <section class="section content flexrow use-case">
    <span 
      class="flexrow-item"
      style="width: 300px; height: 200px; background-color: grey;">
    </span>
    <div class="flexrow-item">
      <h2 class="subtitle">
        For Producer
      </h2>

      <p>
    The producer has more vision on the production. He can quickly verify any
    information from the client or the contractor. He has all the production’s
    detail in a glance.
      </p>
      <p>
      <p>
    Kitsu allows him to financially see how things are going. Where the money is
    spent and why. He can see which shots or assets cost him the most, and adjust,
    for the next project, his quotes. Thanks to the charts he knows always
    how the production is going.
      </p>
      <p>
    The producer doesn’t depend on someone to see the progress of the show. No one
    has to stop what they are doing to provide pictures or preview to the producer.
    He can see by himself the progress, part of an episode or movie.
      </p>
    </div>
  </section>
  
  <section class="section content use-case">
    <h2 class="subtitle has-text-centered">
      {{__ 'kitsu contact introduction'}}
    </h2>
    <p class="has-text-centered">
      <a class="button is-large" href="https://account.cg-wire.com/signup">
        {{__ 'main plans cta'}}
      </a>
    </p>
  </section>

{{> footer }}
