---
metaTitle: about title
metaDescription: about explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
  <h2 class="subtitle">
    {{__ 'about tagline'}}
  </h2>
  <p>
    {{__ 'about explaination one'}}
  </p>
  </section>

  <section class="section content">
  <h2 class="subtitle">
    {{__ 'about values title'}}
  </h2>

  <ul>
    <li>
      {{__ 'about values one'}}
    </li>
    <li>
      {{__ 'about values two'}}
    </li>
    <li>
      {{__ 'about values three'}}
    </li>
  </ul>
  </section>
 
  <section class="section content">
    <h2 class="subtitle">
      {{__ 'about team title'}}
    </h2>
      
    <div class="flexrow team-info">
      <div class="flexrow-item ppl-image">
        <img class="ppl" src="/images/frank.jpg">
      </div>
      <div class="flexrow-item ppl-description">
        <p>
          {{__ 'about team explaination'}}
        </p>
      </div>
    </div>
    <div class="flexrow team-info mt2">
      <div class="flexrow-item ppl-image">
        <img class="ppl" src="/images/gwen.png">
      </div>
      <div class="flexrow-item ppl-description">
        <p>
          {{__ 'about team explaination gwen'}}
        </p>
      </div>
    </div>
  </section>

  <section class="section partners content">
    <h2 class="subtitle">
      {{__ 'about support title'}}
    </h2>
    <p class="has-text-centered">
      <a href="http://www.cnc.fr/">
        <img alt="CNC Logo" src="/images/logo-cnc.png">
      </a>
      <a href="http://www.residencecreatis.com/">
        <img alt="Creatis Logo" src="/images/logo-creatis.jpg">
      </a>
      <a href="https://group.bnpparibas/">
        <img alt="BNP Logo" src="/images/logo-bnp.png">
      </a>
      <a href="https://www.ovh.com/fr/dlp/">
        <img alt="OVH Digital Launch Pad" src="/images/logo-ovhdlp.png">
      </a>
    </p>
  </section>
 
  <section class="section partners content">
    <h2 class="subtitle">
      {{__ 'about partners title'}}
    </h2>
    <p class="has-text-centered">
        {{> logos }}
    </p>
  </section>

  <section class="section content">
    <h2 class="subtitle">
      {{__ 'about design title'}}
    </h2>
    <p class="has-text-centered">
      {{__ 'about design information'}}
    </p>
    <p class="has-text-centered">
      <a href="http://evstyle.de/">evstyle.de</a>
    </p>
  </section>

{{> footer }}
