---
metaTitle: about title
metaDescription: about explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
  <h2 class="subtitle">
    {{__ 'about tagline'}}
  </h2>
  <p>
    {{__ 'about explaination one'}}
  </p>
  </section>

  <section class="section content">
  <h2 class="subtitle">
    {{__ 'about values title'}}
  </h2>

  <ul>
    <li>
      {{__ 'about values one'}}
    </li>
    <li>
      {{__ 'about values two'}}
    </li>
    <li>
      {{__ 'about values three'}}
    </li>
  </ul>
  </section>
 
  <section class="section content">
  <h2 class="subtitle">
    {{__ 'about team title'}}
  </h2>
    
  <div class="flexrow team-info">
    <div class="flexrow-item ppl-image">
      <img class="ppl" src="/images/frank.jpg">
    </div>
    <div class="flexrow-item ppl-description">
      <p>
        {{__ 'about team explaination'}}
      </p>
    </div>
  </div>
  <div class="flexrow team-info mt2">
    <div class="flexrow-item ppl-image">
      <img class="ppl" src="/images/gwen.png">
    </div>
    <div class="flexrow-item ppl-description">
      <p>
        {{__ 'about team explaination gwen'}}
      </p>
    </div>
  </div>

  </section>

  <section class="section partners content">
    <h2 class="subtitle">
      {{__ 'about partners title'}}
    </h2>
    <p class="has-text-centered">
      <a href="http://www.unit-image.fr/">
        <img alt="Unit Image Logo" src="/images/logo-unit-image.png">
      </a>
      <a href="http://www.cube-creative.com/">
        <img alt="Cube Creative Logo" src="/images/logo-cube.png">
      </a>
      <a href="http://www.tunouszapasvus.fr/">
        <img alt="TuNouZaPaVu Logo" src="/images/logo-tnzpv.png">
      </a>
      <a href="http://les-fees-speciales.coop/">
        <img alt="Les Fées Spéciales Logo" src="/images/logo-les-fees-speciales.png">
      </a>
      <a href="http://www.karlab.fr/">
        <img alt="Karlab Logo" src="/images/logo-karlab.png">
      </a>
      <a href="https://www.menhirfx.com/">
        <img alt="Menhir Logo" src="/images/logo-menhir.png">
      </a>
      <a href="http://blog.autourdeminuit.com/">
        <img alt="Autour de Minuit Logo" src="/images/logo-autour-de-minuit.png">
      </a>
      <a href="https://nouvellesimages.xyz/">
        <img alt="ENI Logo" src="/images/logo-eni.png">
      </a>
      <a href="https://lisaa.com/">
        <img alt="LISAA Logo" src="/images/logo-lisaa.png">
      </a>
        <a href="http://vfx-workshop.com/">
          <img alt="VFX Workshop Logo" src="/images/logo-vfx-workshop.png">
        </a>
    </p>
  </section>

  <section class="section content">
    <h2 class="subtitle">
      {{__ 'about design title'}}
    </h2>
    <p class="has-text-centered">
      {{__ 'about design information'}}
    </p>
    <p class="has-text-centered">
      <a href="http://evstyle.de/">evstyle.de</a>
    </p>
  </section>

{{> footer }}
