---
metaTitle: about title
metaDescription: about explaination one
permalink: false
name: about

locale:
pathTo: .
---

{{> header }}

  <section class="section content about">
    <div class="tile">
      <div class="tile is-6 is-child">
        <h2>
          <span class="section-subtitle">{{__ 'about subtitle'}}</span>
          <span class="section-title">{{__ 'about tagline'}}</span>
        </h2>
        <p>
          {{__ 'about explaination one'}}
        </p>
        <p>
          {{__ 'about explaination two'}}
        </p>
      </div>
      <div class="is-6 is-hidden-mobile pl1 mt4">
        <img src="/images/landing-together.png" alt="" />
      </div>
    </div>
  </section>

  <div class="block-colored about">
    <section class="section">
      <h2>
        <span class="section-title has-text-centered">{{__ 'about values title'}}</span>
      </h2>
      <ul class="section-list tile is-ancestor">
        <li class="section-item tile is-4 is-vertical">
          <div class="section-item-img">
            <img src="/images/illustration-simplicity.svg" alt="">
          </div>
          <h3 class="section-item-title">{{__ 'about values title one'}}</h3>
          <p class="section-item-text">{{__ 'about values text one'}}</p>
        </li>
        <li class="section-item tile is-4 is-vertical">
          <div class="section-item-img">
            <img src="/images/illustration-handshake.svg" alt="">
          </div>
          <h3 class="section-item-title">{{__ 'about values title two'}}</h3>
          <p class="section-item-text">{{__ 'about values text two'}}</p>
        </li>
        <li class="section-item tile is-4 is-vertical">
          <div class="section-item-img">
            <img src="/images/illustration-craftmanship.svg" alt="">
          </div>
          <h3 class="section-item-title">{{__ 'about values title three'}}</h3>
          <p class="section-item-text">{{__ 'about values text three'}}</p>
        </li>
      </ul>
    </section>
  </div>

  <section class="section content about">
    <h2>
      <span class="section-title has-text-centered">{{__ 'about team title'}}</span>
    </h2>
    <p class="has-text-centered">{{__ 'about team intro'}}</p>

    <div class="tile is-ancestor">
      <div class="tile is-6 is-vertical ppl">
        <div class="ppl-image">
          <img src="/images/frank.jpg" alt="">
        </div>
        <div class="ppl-id">
          <h3 class="ppl-id-name">{{__ 'about team id frank'}}</h3>
          <p class="ppl-id-role">{{__ 'about team role frank'}}</p>
        </div>
        <div class="ppl-description">
          <p>
            {{__ 'about team explaination frank'}}
          </p>
        </div>
      </div>
      <div class="tile is-6 is-vertical ppl">
        <div class="ppl-image">
          <img src="/images/gwen.png" alt="">
        </div>
        <div class="ppl-id">
          <h3 class="ppl-id-name">{{__ 'about team id gwen'}}</h3>
          <p class="ppl-id-role">{{__ 'about team role gwen'}}</p>
        </div>
        <div class="ppl-description">
          <p>
            {{__ 'about team explaination gwen'}}
          </p>
        </div>
      </div>
    </div>
    <h2 class="title has-text-centered">{{__ 'about team advisors'}}</h2>
    <div class="tile is-ancestor advisors">
      <div class="tile is-3 is-vertical ppl">
        <div class="ppl-image">
          <img src="/images/nico.jpg" alt="">
        </div>
        <div class="ppl-id">
          <h3 class="ppl-id-name">{{__ 'about team id nico'}}</h3>
          <p class="ppl-id-role">{{__ 'about team role nico'}}</p>
        </div>
      </div>
      <div class="tile is-3 is-vertical ppl">
        <div class="ppl-image">
          <img src="/images/ev.jpg" alt="">
        </div>
        <div class="ppl-id">
          <h3 class="ppl-id-name">{{__ 'about team id ev'}}</h3>
          <p class="ppl-id-role">{{__ 'about team role ev'}}</p>
        </div>
      </div>
      <div class="tile is-3 is-vertical ppl">
        <div class="ppl-image">
          <img src="/images/jc.jpg" alt="">
        </div>
        <div class="ppl-id">
          <h3 class="ppl-id-name">{{__ 'about team id jc'}}</h3>
          <p class="ppl-id-role">{{__ 'about team role jc'}}</p>
        </div>
      </div>
      <div class="tile is-3 is-vertical ppl">
        <div class="ppl-image">
          <img src="/images/frank2.jpg" alt="">
        </div>
        <div class="ppl-id">
          <h3 class="ppl-id-name">{{__ 'about team id frank2'}}</h3>
          <p class="ppl-id-role">{{__ 'about team role frank2'}}</p>
        </div>
      </div>
      <div class="tile is-3 is-vertical ppl">
        <div class="ppl-image">
          <img src="/images/matthieu.png" alt="">
        </div>
        <div class="ppl-id">
          <h3 class="ppl-id-name">{{__ 'about team id matthieu'}}</h3>
          <p class="ppl-id-role">{{__ 'about team role matthieu'}}</p>
        </div>
      </div>

    </div>
  </section>

  <div class="block-colored">
    <section class="section">
      <h2>
        <span class="section-title has-text-centered">{{__ 'about work title'}}</span>
      </h2>
      <ul class="section-list tile is-ancestor">
        <li class="section-item tile is-4 is-vertical">
          <div class="section-item-img">
            <img src="/images/illustration-open.svg" alt="">
          </div>
          <h3 class="section-item-title">{{__ 'about work title one'}}</h3>
          <p class="section-item-text">{{__ 'about work text one'}}</p>
        </li>
        <li class="section-item tile is-4 is-vertical">
          <div class="section-item-img">
            <img src="/images/illustration-remote.svg" alt="">
          </div>
          <h3 class="section-item-title">{{__ 'about work title two'}}</h3>
          <p class="section-item-text">{{__ 'about work text two'}}</p>
        </li>
        <li class="section-item tile is-4 is-vertical">
          <div class="section-item-img">
            <img src="/images/illustration-deliberate.svg" alt="">
          </div>
          <h3 class="section-item-title">{{__ 'about work title three'}}</h3>
          <p class="section-item-text">{{__ 'about work text three'}}</p>
        </li>
      </ul>
      <p class="has-text-centered">
        <a class="button is-large" href="mailto:jobs@cg-wire.com">
          {{__ 'about work cta'}}
        </a>
      </p>
    </section>
  </div>
{{> footer }}
