---
metaTitle: zou title
metaDescription: zou explaination one
permalink: false

name: solution
locale:
pathTo: .
---

{{> header }}
  <section class="section wide content solution">
    <div class="has-text-centered">
      <img src="images/api.png" />
    </div>
    <h2 class="subtitle">
      {{__ 'zou tagline'}}
    </h2>
    <p>
      {{__ 'zou explaination one'}}
    </p>
     
    <div class="flexrow block">
      <div class="flexrow-item has-text-centered">
        <img class="smaller" src="/images/central.png" />
      </div>
      <div class="flexrow-item">
        <h3>
          {{__ 'zou why title'}}
        </h3>
        <p>
          {{__ 'zou why one'}}
        </p>
      </div>
    </div>
  
    <div class="block middle-block">
    <h3 class="has-text-centered">
      {{__ 'zou features title'}}
    </h3>
      <div class="has-text-centered">
        <img class="smaller" src="/images/pipeline.png" />
      </div>
      <div class="has-text-centered">
        <ul>
          <li>
            {{__ 'zou features one'}}
          </li>
          <li>
            {{__ 'zou features two'}}
          </li>
          <li>
            {{__ 'zou features three'}}
          </li>
          <li>
            {{__ 'zou features four'}}
          </li>
        </ul>  
      </div>
    </div>
   
    <div class="flexrow block">
      <div class="flexrow-item has-text-centered">
        <img src="/images/softwares.png" />
      </div>
      <div class="flexrow-item">
        <h3>
          {{__ 'zou usecase title'}}
        </h3>
        <p>
          {{__ 'zou usecase one'}}
        </p>
        <p>
          <a href="https://zou.cg-wire.com" class="button">
            {{__ 'api title documentation'}}
          </a>
        </p>
      </div>
    </div>
  </section>
  <section class="section wide content solution">
    <h2 class="subtitle mt2">
      {{__ 'gazu tagline'}}
    </h2>

    <p>
      {{__ 'gazu explaination one'}}
    </p>
    <div class="flexrow block">
      <div class="flexrow-item has-text-centered">
        <img src="/images/simple.png" />
      </div>
      <div class="flexrow-item">
        <h3>
          {{__ 'gazu why title'}}
        </h3>
        <p>
          {{__ 'gazu why one'}}
        </p>
      </div>
    </div>
  
    <div class="block middle-block">
      <div class="block">
        <h3>
          {{__ 'gazu features title'}}
        </h3>
        <pre>
import gazu

gazu.log_in("john", os.getenv("PASSWORD", "default"))

project = gazu.project.get_project_by_name("Big Buck Bunny")
assets = gazu.asset.all_assets_for_project(project)

modeling = gazu.task.get_task_type_by_name("Modeling")
tasks = gazu.task.all_tasks_for_entity_and_task_type(assets[0], modeling)

gazu.files.build_working_file_path(tasks[0])
> "/productions/bbb/assets/characters/bunny/modeling/bbb_bunny_modeling_v001"
        </pre>
      </div>

      <div class="">
        <ul>
          <li>
            {{__ 'gazu features one'}}
          </li>
          <li>
            {{__ 'gazu features two'}}
          </li>
          <li>
            {{__ 'gazu features three'}}
          </li>
          <li>
            {{__ 'gazu features four'}}
          </li>
        </ul>
      </div>
    </div>

    <div>
    &nbsp;
    </div>
   
    <div class="flexrow block">
      <div class="flexrow-item has-text-centered">
        <img src="/images/fast.png" />
      </div>
      <div class="flexrow-item">
        <h3>
          {{__ 'gazu usecase title'}}
        </h3>
        <p>
          {{__ 'gazu usecase one'}}
        </p>
        <p>
          <a href="https://gazu.cg-wire.com" class="button">
            {{__ 'client title documentation'}}
          </a>
        </p>
      </div>
    </div>
  </section>
    
  <section class="section content">
    <h2 class="subtitle has-text-centered">
      {{__ 'zou contact introduction'}}
    </h2>
    <p class="has-text-centered">
      <a class="button is-large" href="https://account.cg-wire.com/signup">
        {{__ 'main plans cta'}}
      </a>
    </p>
  </section>

{{> footer }}
