---
metaTitle: zou title
metaDescription: zou explaination one
permalink: false

name: solution
locale:
pathTo: .
---

{{> header }}
<div class="kitsu-page">
  <section class="section content">
    <div class="tile">
      <div class="tile is-6 is-child">
        <h2>
          <span class="section-subtitle">{{__ 'zou subtitle'}}</span>
          <span class="section-title">{{__ 'zou tagline'}}</span>
        </h2>
        <p class="pr1">
          {{__ 'zou explaination one'}}
        </p>
      </div>
      <div class="is-6 is-hidden-mobile pl1 mt4">
        <img src="/images/landing-data.png" alt="" />
      </div>
    </div>
    <div class="flexrow mt4 has-text-centered highlights">
      <div class="flexrow-item">
        <img src="/images/icons/python-client.png" />
        <p>
          {{__ 'api highlight one'}}
        </p>
      </div>
      <div class="flexrow-item">
        <img src="/images/icons/cloud-based.png" />
        <p>
          {{__ 'api highlight two'}}
        </p>
      </div>
      <div class="flexrow-item">
        <img src="/images/icons/dcc-tools-2.png" />
        <p>
          {{__ 'api highlight three'}}
        </p>
      </div>
    </div>
  </section>

  <div class="block-colored">
    <section class="section">
      <div class="tile flex-aic">
        <div class="tile is-5 is-child content">
          <h2>
            <span class="section-subtitle">
              {{__ 'zou usecase subtitle'}}
            </span>
            <span class="section-title">
              {{__ 'zou usecase title'}}
            </span>
          </h2>
          <p>
            {{__ 'zou usecase one'}}
          </p>
          <p>
            <a href="https://gazu.cg-wire.com" class="button button--alt is-large">
              {{__ 'api button cta'}}
            </a>
          </p>
        </div>
        <div class="tile is-7 is-child content-image">
          <img src="/images/softwares.png" />
        </div>
      </div>
    </section>
  </div>

  <section class="section">
    <div class="tile flex-aic content-reverse">
      <div class="tile is-5 is-child content">
        <h2>
          <span class="section-subtitle">
            {{__ 'zou features subtitle'}}
          </span>
          <span class="section-title">
            {{__ 'zou features title'}}
          </span>
        </h2>
        <p>
          <ul>
            <li>
              {{__ 'zou features one'}}
            </li>
            <li>
              {{__ 'zou features two'}}
            </li>
            <li>
              {{__ 'zou features three'}}
            </li>
            <li>
              {{__ 'zou features four'}}
            </li>
          </ul>
        </p>
          <p>
            <a href="https://gazu.cg-wire.com" class="button button--alt is-large">
              {{__ 'api button cta'}}
            </a>
          </p>
      </div>
      <div class="tile is-7 is-child content-image">
        <img class="smaller" src="/images/pipeline.png" />
      </div>
    </div>
  </section>

  <div class="quote">
    <section>
      <blockquote class="quote-text">
        <p>{{__ 'api quote'}}</p>
        <footer class="quote-author">
          <img 
            class="quote-avatar"
            src="/images/testimonials/jeromebrack.png" 
          /> 
          {{__ 'api quote author'}}
        </footer>
      </blockquote>
    </section>
  </div>


  <section class="section">
    <div class="tile flex-aic content-reverse">
      <div class="tile is-5 is-child content">
        <h2>
          <span class="section-subtitle">
            {{__ 'gazu why subtitle'}}
          </span>
          <span class="section-title">
            {{__ 'gazu why title'}}
          </span>
        </h2>
        <p>
          {{__ 'gazu why one'}}
        </p>
        <p>
          <a href="https://gazu.cg-wire.com" class="button button--alt is-large">
            {{__ 'api button cta'}}
          </a>
        </p>
      </div>
      <div class="tile is-7 is-child content-image">
        <img class="smaller" src="/images/simple.png" />
      </div>
    </div>
  </section>

  <div class="block-colored">
    <section class="section">
      <div class="tile flex-aic">
        <div class="tile is-5 is-child content">
          <h2>
            <span class="section-subtitle">
              {{__ 'zou why subtitle'}}
            </span>
            <span class="section-title">
              {{__ 'zou why title'}}
            </span>
          </h2>
          <p>
            {{__ 'zou why one'}}
          </p>
          <p>
            <a href="https://gazu.cg-wire.com" class="button button--alt is-large">
              {{__ 'api button cta'}}
            </a>
          </p>
        </div>
        <div class="tile is-7 is-child content-image">
          <img class="smaller" src="/images/central.png" />
        </div>
      </div>
    </section>
  </div>
  </section>

  <div class="block">
    <section class="section">
      <div class="tile flex-aic">
        <div class="tile is-7 is-child content mr1">
        <pre>
import gazu

gazu.log_in("john", os.getenv("PASSWORD", "default"))

project = gazu.project.get_project_by_name("Big Buck Bunny")
assets = gazu.asset.all_assets_for_project(project)

modeling = gazu.task.get_task_type_by_name("Modeling")
tasks = gazu.task.all_tasks_for_entity_and_task_type(assets[0], modeling)

gazu.files.build_working_file_path(tasks[0])
> "/productions/bbb/assets/characters/bunny/modeling/bbb_bunny_modeling_v001"
        </pre>

        </div>

        <div class="tile is-5 is-child content pl1">
          <h2>
            <span class="section-subtitle">
              {{__ 'gazu features subtitle'}}
            </span>
            <span class="section-title">
              {{__ 'gazu features title'}}
            </span>
          </h2>
            <ul>
              <li>
                {{__ 'gazu features one'}}
              </li>
              <li>
                {{__ 'gazu features two'}}
              </li>
              <li>
                {{__ 'gazu features three'}}
              </li>
              <li>
                {{__ 'gazu features four'}}
              </li>
            </ul>
            <p>
            <a href="https://gazu.cg-wire.com" class="button button--alt is-large">
              {{__ 'api button cta'}}
            </a>
            </p>
        </div>
      </div>
    </section>
  </div>


</div>

{{> trial }}


{{> footer }}
