---
metaTitle: community tagline
metaDescription: community explaination one
permalink: false

name: community
locale:
pathTo: .
---

{{> header }}

  <section class="section content community">
    <h2>
      <span class="section-subtitle">{{__ 'community subtitle'}}</span>
      <span class="section-title">
          {{__ 'community tagline'}}
      </span>
    </h2>

    </h2>
  
    <p>
      {{__ 'community explaination one'}}
    </p>

    <div class="level block">
      <div class="level-item has-text-centered">
        <a href="https://slack.cg-wire.com/">
          <img src="/images/chat.png" alt="Chat icon" /><br />
        </a>
      </div>
      <div class="level-item description">
      <p>
        <a href="https://discord.gg/VbCxtKN">
          {{__ 'community slack explaination'}}
        </a>
        <br />
        <br />
        <a class="community-link" href="https://discord.gg/nPcMFEjQ">
          {{__ 'community slack cta'}} <span> &#8594;</span>
        </a><br />
      </p>
      </div>
    </div>

    <div class="level block">
      <div class="level-item has-text-centered">
        <a href="https://www.meetup.com/Infrastructure-et-film-danimation/">
          <img src="/images/meetup.png" alt="Meetup icon" /><br />
        </a>
      </div>
      <div class="level-item is-centered description">
      <p>
        <a href="https://www.meetup.com/Infrastructure-et-film-danimation/">
          {{__ 'community meetup explaination'}}

        </a>
        <br />
        <br />
        <a 
          class="community-link"
          href="https://www.meetup.com/Infrastructure-et-film-danimation/"
        >
          {{__ 'community meetup cta'}} <span> &#8594;</span>

        </a>
      </p>
      </div>
    </div>

    <div class="level block">
      <div class="level-item has-text-centered">
        <a href="https://github.com/cgwire">
          <img src="/images/big-github.png" alt="Github icon" /><br />
        </a>
      </div>
      <div class="level-item description">
        <p>
          <a href="https://github.com/cgwire">
            {{__ 'community github explaination'}}
          </a>
          <br />
          <br />
          <a class="community-link" href="https://github.com/cgwire">
            {{__ 'community github cta'}} <span>&#8594;</span>
          </a>
        </p>
      </div>
    </div>
  </section>

{{> footer }}
