---
metaTitle: community tagline
metaDescription: community explaination one
permalink: false

name: community
locale:
pathTo: .
---

{{> header }}

  <section class="section content community community-header">
    <div class="flexrow community-header">
      <div class="flexrow-item">
        <img src="/images/community/meetup.jpg" />
      </div>
      <div class="flexrow-item">
        <h2>
          <span class="section-subtitle">{{__ 'community subtitle'}}</span>
          <span class="section-title">
              {{__ 'community tagline'}}
          </span>
        </h2>
          <p>
            {{__ 'community explaination one'}}
          </p>
      </div>
    </div>
  </section>

  <section class="section content community community-info">
    <div class="flexrow">
      <div class="flexrow-item description flexrow-filler">
        <h2>
          <span class="section-subtitle">
            {{__ 'community chat subtitle'}}
          </span>
          <span class="section-title">
            {{__ 'community chat title'}}
          </span>
        </h2>
        <p>
          <a href="https://discord.gg/VbCxtKN">
            {{__ 'community slack explaination'}}
          </a>
        </p>
        <p class="community-cta">
          <a class="community-link" href="https://discord.com/invite/VbCxtKN">
            {{__ 'community slack cta'}} <span> &#8594;</span>
          </a>
        </p>
      </div>
      <div class="flexrow-item illustration">
        <a class="" href="https://discord.com/invite/VbCxtKN">
          <img src="/images/community/discord.png" alt="Discord Group" /><br />
        </a>
      </div>
    </div>
  </section>

  <section class="section content community community-info">
    <div class="flexrow">
      <div class="flexrow-item description flexrow-filler">
        <h2>
          <span class="section-subtitle">
            {{__ 'community meetup subtitle'}}
          </span>
          <span class="section-title">
            {{__ 'community meetup title'}}
          </span>
        </h2>
        <p>
          <a href="https://www.meetup.com/Infrastructure-et-film-danimation/">
            {{__ 'community meetup explaination'}}
          </a>
        </p>
        <p class="community-cta">
          <a class="community-link" href="https://www.meetup.com/Infrastructure-et-film-danimation/">
            {{__ 'community meetup cta'}} <span> &#8594;</span>
          </a>
        </p>
      </div>
      <div class="flexrow-item illustration">
        <a class="" href="https://www.meetup.com/Infrastructure-et-film-danimation/">
          <img src="/images/community/meetupcom.png" alt="Meetup.com Group" /><br />
        </a>
      </div>
    </div>
  </section>

  <section class="section content community community-info">
    <hr />
  </section>

  <section class="section content community community-info">
    <div class="flexrow">
      <div class="flexrow-item description flexrow-filler">
        <h2>
          <span class="section-subtitle">
            {{__ 'community github subtitle'}}
          </span>
          <span class="section-title">
            {{__ 'community github title'}}
          </span>
        </h2>
        <p>
          <a href="https://github.com/cgwire/kitsu">
            {{__ 'community github explaination'}}
          </a>
        </p>
        <p class="community-cta">
          <a class="community-link" href="https://github.com/cgwire/kitsu">
            {{__ 'community github cta'}} <span> &#8594;</span>
          </a>
        </p>
      </div>
      <div class="flexrow-item illustration">
        <a class="" href="https://github.com/cgwire/kitsu">
          <img src="/images/community/github.png" alt="Github repository" /><br />
        </a>
      </div>
    </div>
  </section>

  <section class="section content community community-info">
    <div class="flexrow">
      <div class="flexrow-item description flexrow-filler">
        <h2>
          <span class="section-subtitle">
            {{__ 'community feedback subtitle'}}
          </span>
          <span class="section-title">
            {{__ 'community feedback title'}}
          </span>
        </h2>
        <p>
          <a href="https://cgwire.canny.io">
            {{__ 'community feedback explaination'}}
          </a>
        </p>
        <p class="community-cta">
          <a class="community-link" href="https://cgwire.canny.io">
            {{__ 'community feedback cta'}} <span> &#8594;</span>
          </a>
        </p>
      </div>
      <div class="flexrow-item illustration">
        <a class="" href="https://cgwire.canny.io">
          <img src="/images/community/canny.png" alt="Canny page" /><br />
        </a>
      </div>
    </div>
  </section>

  <section class="section content community community-info">
    <div class="flexrow">
      <div class="flexrow-item description flexrow-filler">
        <h2>
          <span class="section-subtitle">
            {{__ 'community translate subtitle'}}
          </span>
          <span class="section-title">
            {{__ 'community translate title'}}
          </span>
        </h2>
        <p>
          <a href="https://github.com/cgwire/kitsu">
            {{__ 'community translate explaination'}}
          </a>
        </p>
        <p class="community-cta">
          <a class="community-link" href="https://github.com/cgwire/kitsu">
            {{__ 'community translate cta'}} <span> &#8594;</span>
          </a>
        </p>
      </div>
      <div class="flexrow-item illustration">
        <a class="" href="https://github.com/cgwire/kitsu">
          <img src="/images/community/poeditor.png" alt="POEditor project" /><br />
        </a>
      </div>
    </div>
  </section>

  <section class="section content community community-info">
  </section>

  <section class="section content community community-footer has-text-centered">
    <h2>Cheers!</h2>
    <div>
      <img src="/images/community/meetup2.jpg" alt="Having a beer together" /><br />
    </div>
  </section>

{{> footer }}
