---
metaTitle: community tagline
metaDescription: community explaination one
permalink: false

name: community
locale:
pathTo: .
---

{{> header }}

  <section class="section content community">
    <h2 class="subtitle">
      {{__ 'community tagline'}}
    </h2>
  
    <p>
      {{__ 'community explaination one'}}
    </p>

    <div class="level block">
      <div class="level-item has-text-centered">
        <a href="https://slack.cg-wire.com/">
          <img src="/images/chat.png" alt="Chat icon" /><br />
        </a>
      </div>
      <div class="level-item description">
      <p>
        <a href="https://slack.cg-wire.com">
          {{__ 'community slack explaination'}}
        </a><br />
        <a class="community-link" href="https://slack.cg-wire.com">
          slack.cg-wire.com
        </a><br />
      </p>
      </div>
    </div>

    <!--div class="level block">
      <div class="level-item has-text-centered">
        <a href="https://forum.cg-wire.com">
          <img src="/images/forum.png" alt="Forum icon" /><br />
        </a>
      </div>
      <div class="level-item is-centered description">
      <p>
        <a href="https://forum.cg-wire.com">
          {{__ 'community forum explaination'}}
        </a><br />
        <a class="community-link" href="https://forum.cg-wire.com">
          forum.cg-wire.com
        </a>
      </p>
      </div>
    </div-->

    <div class="level block">
      <div class="level-item has-text-centered">
        <a href="https://github.com/cgwire">
          <img src="/images/big-github.png" alt="Github icon" /><br />
        </a>
      </div>
      <div class="level-item description">
        <p>
          <a href="https://github.com/cgwire">
            {{__ 'community github explaination'}}
          </a><br />
          <a class="community-link" href="https://github.com/cgwire">
            github.com/cgwire
          </a>
        </p>
      </div>
    </div>
  </section>

{{> footer }}
