---
layout: base.html

metaTitle: about title
metaDescription: about explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
  <h2 class="subtitle">
    {{__ 'contact tagline'}}
  </h2>
  <p>
    {{__ 'contact sales'}}: <a href="mailto:sales@cg-wire.com">sales@cg-wire.com</a>
  </p>
  <p>
    {{__ 'contact support'}}: <a href="mailto:support@cg-wire.com">support@cg-wire.com</a>
  </p>

  <p>
  84 avenue de la République
  75011 Paris
  France
  </p>
    
  <p>
    {{__ 'about team explaination'}}
  </p>

  <h2 class="subtitle">
    {{__ 'about partners title'}}
  </h2>
  <p>
  </p>

  </section>

{{> footer }}
