---
metaTitle: contact title
metaDescription: contact explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
  <h2 class="subtitle">
    {{__ 'contact tagline'}}
  </h2>

  <h3 class="strong">{{__ 'contact emails'}}</h3>
  <p>
    {{__ 'contact sales'}}: <a href="mailto:sales@cg-wire.com">sales@cg-wire.com</a>
  </p>
  <p>
    {{__ 'contact support'}}: <a href="mailto:support@cg-wire.com">support@cg-wire.com</a>
  </p>

  <h3 class="strong">{{__ 'contact address'}}</h3>
  <p>
  CGWire<br>
  84 avenue de la République<br>
  75011 Paris<br>
  France
  </p>

  <h3 class="strong">{{__ 'contact company identifier'}}</h3>
  <p>
  N° RCS: Paris 831 995 303
  </p>
    
  <p class="filler">
  </p>

  </section>

{{> footer }}
