---
layout: base.html

metaTitle: gazu title
metaDescription: gazu explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section wide content">
    <div class="has-text-centered">
      <img src="images/gazeru.png" />
    </div>
    <h2 class="subtitle">
      {{__ 'gazu tagline'}}
    </h2>
    <p>
      {{__ 'gazu explaination one'}}
    </p>
      
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">
        <p>
          {{__ 'gazu why one'}}
        </p>
      </div>
    </div>
  
    <div class="columns">
      <div class="column">
        <ul>
          <li>
            {{__ 'gazu features one'}}
          </li>
          <li>
            {{__ 'gazu features two'}}
          </li>
          <li>
            {{__ 'gazu features three'}}
          </li>
          <li>
            {{__ 'gazu features four'}}
          </li>
        </ul>
 
      </div>
      <div class="column">
      </div>
    </div>
   
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">
        <p>
          {{__ 'gazu usecase one'}}
        </p>
      </div>
    </div>
  
    <p class="has-text-centered">
      {{__ 'gazu contact introduction'}}
    </p>
    <p class="has-text-centered">
      <a href="mailto:contact@cg-wire.com" class="button is-large">
        {{__ 'main contact cta'}}
      </a>
    </p>
    <p class="has-text-centered">
      <a href="https://gazu.cg-wire.com">
        {{__ 'gazu contact documentation'}}
      </a>
    
    </p>

  </section>

{{> footer }}
