---
layout: base.html

metaTitle: gazu title
metaDescription: gazu explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section wide content">
    <div class="has-text-centered">
      <img src="images/gazeru.png" />
    </div>
    <h2 class="subtitle">
      {{__ 'gazu tagline'}}
    </h2>
    <p>
      {{__ 'gazu explaination one'}}
    </p>
      
    <div class="flexrow block">
      <div class="flexrow-item has-text-centered">
        <img src="/images/simple.png" />
      </div>
      <div class="flexrow-item">
        <h3>
          {{__ 'gazu why title'}}
        </h3>
        <p>
          {{__ 'gazu why one'}}
        </p>
      </div>
    </div>
  
    <div class="flexrow block">
      <div class="flexrow-item">
        <h3>
          {{__ 'gazu features title'}}
        </h3>
        <ul>
          <li>
            {{__ 'gazu features one'}}
          </li>
          <li>
            {{__ 'gazu features two'}}
          </li>
          <li>
            {{__ 'gazu features three'}}
          </li>
          <li>
            {{__ 'gazu features four'}}
          </li>
        </ul>
      </div>

      <div class="flexrow-item block">
        <pre>
import gazu

gazu.log_in("john", os.getenv("PASSWORD", "default"))
project = gazu.project.get_by_name("Big Buck Bunny")
assets = gazu.asset.all_assets_for_project(project)
        </pre>
      </div>
    </div>
   
    <div class="flexrow block">
      <div class="flexrow-item has-text-centered">
        <img src="/images/fast.png" />
      </div>
      <div class="flexrow-item">
        <h3>
          {{__ 'gazu usecase title'}}
        </h3>
        <p>
          {{__ 'gazu usecase one'}}
        </p>
      </div>
    </div>
  </section>
  
  <section class="section content">
    <h2 class="subtitle has-text-centered">
      {{__ 'gazu contact introduction'}}
    </h2>
    <p class="has-text-centered">
      <a href="mailto:contact@cg-wire.com" class="button is-large">
        {{__ 'main contact cta'}}
      </a>
    </p>
    <p class="has-text-centered">
      <a href="https://gazu.cg-wire.com">
        {{__ 'gazu contact documentation'}}
      </a>
    </p>
  </section>

{{> footer }}
