---
metaTitle: main title
metaDescription: main subtitle
permalink: false
modal: true

locale:
name: index
pathTo: .
---

{{> header }}

  <div class="home">

  <section class="section content introduction">
   <div class="flexrow">
     <div class="flexrow-item introduction-text">
       <h1 class="title">{{__ 'main title'}}</h1>
       <h2 class="main-subtitle">{{__ 'main subtitle'}}</h1>
        <a href="#kitsu-video" class="toggleModal button button--with-icon is-large">
          <img src="/images/play.svg" alt=""><span>{{__ 'kitsu watch cta'}}</span>
        </a>
     </div>
     <div class="flexrow-item introduction-picture">
       <img src="/images/collaboration.svg" />
     </div>
   </div>
  </section>

  <div class="modal" id="kitsu-video">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-16by9">
        <div id="youtube-player"></div>
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <section class="section content trusted">
    
    <h4 class="section-subtitle has-text-centered">
      {{__ 'main explaination trusted'}}
    </h4>
    <div>
      <a href="/{{ locale }}/studios.html" class="flexrow mt2">
        <div class="flexrow-item mr0">
          <img src="/images/logo-cube.png">
        </div>
        <div class="flexrow-item mr0">
          <img src="/images/logo-miyu.png">
        </div>
        <div class="flexrow-item mr0">
          <img src="/images/logo-blender.png" />
        </div>
        <div class="flexrow-item mr0">
          <img src="/images/studios/logo-bobbypills.png">
        </div>
        <div class="flexrow-item mr0">
          <img src="/images/logo-gobelins-black.jpg">
        </div>
      </a>
    </div>
  </section>

  <section class="section content">
    <h2 class="subtitle tagline">
      {{__ 'main tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main explaination one'}}
    </p>
  </section>

  <section class="section content landing-block customer-story mt2">
    <a href="https://blog.cg-wire.com/customer-story-fost-studio/">
    <div class="flexrow reverse">
        <div class="flexrow-item landing-picture">
          <img src="/images/photo-customer-story-fost.png" />
        </div>
        <div class="flexrow-item landing-text">
          <h2 class="section-subtitle">
            Customer Story:<br/> Fost Studio
          </h2>
          <p>
            <em>
              "{{__ 'main customer story fost'}}"
            </em><br />
          </p>
          <p class="mt1">
            Céline Durieux, Head of Studio
          </p>
        </div>
    </div>
    </a>
  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title one'}}
        </h2>
        <p>
          {{__ 'main explaination text one'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-overview.png" />
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-data.png" />
      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title two'}}
        </h2>
        <p>
          {{__ 'main explaination text two'}}
        </p>
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title three'}}
        </h2>
        <p>
          {{__ 'main explaination text three'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-faster.png" />
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-together.png" />
      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title four'}}
        </h2>
        <p>
          {{__ 'main explaination text four'}}
        </p>
      </div>
    </div>
  </section>

  <section class="section content landing-block customer-story mt2">
    <a href="https://blog.cg-wire.com/customer-story-autour-de-minuit/">
    <div class="flexrow reverse">
        <div class="flexrow-item landing-picture">
          <img src="/images/photo-customer-story-adm.jpg" />
        </div>
        <div class="flexrow-item landing-text">
          <h2 class="section-subtitle">
            Customer Story:<br/> Autour de Minuit
          </h2>
          <p>
            <em>
              "{{__ 'main customer story one'}}"
            </em><br />
          </p>
          <p class="mt1">
          Fiona Cohen, Production Manager
          </p>
        </div>
    </div>
    </a>
  </section>

  <section class="section supporters">
    <h2 class="subtitle tagline">
      {{__ 'about supporters title'}}
    </h2>
    <ul class="flexrow has-text-centered">
      <li class="flexrow-item w150 mr0"><a href="https://www.cnc.fr"><img src="/images/logo-cnc.png" alt="CNC"></a></li>
      <li class="flexrow-item w150 mr0"><a
      href="https://www.unrealengine.com/en-US/megagrants"><img src="/images/logo-epic-games.png" alt="Epic Games"></a></li>
      <li class="flexrow-item w150 mr0"><a href="https://www.ovh.com"><img src="/images/logo-ovhdlp.png" alt="OVH Digital Launch Pad"></a></li>
    </ul>
  </section>

  <section class="section content has-text-centered">
    <h2 class="subtitle">
      {{__ 'zou contact introduction'}}
    </h2>
    <p>
      <a 
        class="button is-large" 
        href="https://account.cg-wire.com/{{ locale }}/signup"
      >
        {{__ 'main plans cta' }}
      </a>
    </p>
  </section>
  </div>

  <section class="section content conclusion conclusion-text">
    <h2 class="subtitle tagline">
      {{__ 'main conclusion tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main conclusion text'}}
    </p>
  </section>

  <section
    class="section content has-text-centered conclusion conclusion-picture"
  >
    <img src="/images/studio_collaboration.png" />
  </section>
{{> footer }}
