---
metaTitle: main title
metaDescription: main subtitle
permalink: false
modal: true

locale:
name: index
pathTo: .
---

{{> header }}

  <div class="home">

  <section class="section content introduction">
   <div class="flexrow">
     <div class="flexrow-item introduction-text">
       <h1 class="title">{{__ 'main title'}}</h1>
       <h2 class="main-subtitle">{{__ 'main subtitle'}}</h1>
        <a href="#kitsu-video" class="toggleModal button button--with-icon is-large">
          <img src="/images/play.svg" alt=""><span>{{__ 'kitsu watch cta'}}</span>
        </a>
     </div>
     <div class="flexrow-item introduction-picture">
       <img src="/images/studio.png" />
     </div>
   </div>
  </section>

  <div class="modal" id="kitsu-video">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-16by9">
        <iframe
          class="intro-video"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/EH3RbmHykrE"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <section class="section content trusted">
    <h4 class="section-subtitle has-text-centered">
      {{__ 'main explaination trusted'}}
    </h4>
    <div class="flexrow mt2">
      <div class="flexrow-item">
        <img src="/images/logo-cube.png">
      </div>
      <div class="flexrow-item">
        <img src="/images/logo-miyu.png">
      </div>
      <div class="flexrow-item">
        <img src="/images/logo-tnzpv.png">
      </div>
      <div class="flexrow-item">
        <img src="/images/logo-colorbleed.png">
      </div>
      <div class="flexrow-item">
        <img src="/images/logo-gobelins-black.png">
      </div>
    </div>
  </section>

  <section class="section content">
    <h2 class="subtitle tagline">
      {{__ 'main tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main explaination one'}}
    </p>
  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title one'}}
        </h2>
        <p>
          {{__ 'main explaination text one'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-overview.png" />
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-data.png" />
      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title two'}}
        </h2>
        <p>
          {{__ 'main explaination text two'}}
        </p>
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title three'}}
        </h2>
        <p>
          {{__ 'main explaination text three'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-faster.png" />
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-together.png" />
      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title four'}}
        </h2>
        <p>
          {{__ 'main explaination text four'}}
        </p>
      </div>
    </div>
  </section>

  <div class="mt2">
  &nbsp;
  </div>

  <section class="section content has-text-centered">
    <h2 class="subtitle">
      {{__ 'zou contact introduction'}}
    </h2>
    <p>
      <a class="button is-large" href="https://account.cg-wire.com/signup">
        {{__ 'main plans cta' }}
      </a>
    </p>
  </section>
  </div>

  <section class="section content conclusion conclusion-text">
    <h2 class="subtitle tagline">
      {{__ 'main conclusion tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main conclusion text'}}
    </p>
  </section>

  <section
    class="section content has-text-centered conclusion conclusion-picture"
  >
    <img src="/images/studio_collaboration.png" />
  </section>
{{> footer }}
