---
layout: base.html

metaTitle: main title
metaDescription: main explaination one
permalink: false

locale:
pathTo: .
from: home
---

{{> header }}

  <section class="section content">
	<article id="viewport">
		<section id="pyramid">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</section>
	</article>
  </section>

  <section class="section has-text-centered content introduction">
    <h1 class="title">{{__ 'main title'}}</h1>
  </section>

  <section class="section content">
  <h2 class="subtitle">
    {{__ 'main tagline'}}
  </h2>
  <p>
    {{__ 'main explaination one'}}
  </p>
    
  <p>
    {{__ 'main explaination two'}}
  </p>
  </section>

  <section class="section content">
    <h2 class="subtitle">
      {{__ 'main solutions title'}}
    </h2>
    <p>
      {{__ 'main solutions introduction'}}
    </p>
    <div class="columns">
      <div class="column app">
        <p class="has-text-centered">
          <a href="/{{ locale }}/zou.html">
            <img src="images/zou.png" />
          </a>
        </p>
        <p>
          <strong>Zou</strong>, 
          {{__ 'main solutions api'}}
        </p>
        <p>
          <a href="/{{ locale }}/zou.html">
              {{__ 'main solutions see'}}
          </a>
        </p>
      </div>

      <div class="column app">
        <p class="has-text-centered">
          <a href="/{{ locale }}/kitsu.html">
            <img src="images/kitsu.png" />
          </a>
        </p>
        <p>
          <strong>Kitsu</strong>, 
          {{__ 'main solutions frontend'}}
        </p>
        <p>
          <a href="/{{ locale }}/kitsu.html">
             {{__ 'main solutions see'}}
          </a>
        </p>
      </div>
      <div class="column app">
        <p class="has-text-centered">
          <a href="/{{ locale }}/gazu.html">
            <img src="images/gazeru.png" />
          </a>
        </p>
        <p>
          <strong>Gazu</strong>, 
          {{__ 'main solutions client'}}
        </p>
        <p>
          <a href="/{{ locale }}/gazu.html">
             {{__ 'main solutions see'}}
          </a>
        </p>
      </div>
    </div>
  </section>

  <section class="section content">
  <h2 class="subtitle">
    {{__ 'main services title'}}
  </h2>
  <p>
    {{__ 'main services intro'}}
  </p>

  <ul>
    <li> 
    {{__ 'main services one'}}
    </li>
    <li>
    {{__ 'main services two'}}
    </li>
    <li>
    {{__ 'main services three'}}
    </li>
  </ul>
  </section>

  <section class="section content has-text-centered">
    <h2 class="subtitle">
      {{__ 'main contact title'}}
    </h2>
    <p>
      {{__ 'main contact introduction'}}
    </p>
    <p>
      <a href="mailto:contact@cg-wire.com" class="button is-large">
      {{__ 'main contact cta'}}
      </a>
    </p>
  </section>

{{> footer }}
