---
metaTitle: main title
metaDescription: main subtitle
permalink: false
modal: true

locale:
name: index
pathTo: .
---

{{> header }}

  <div class="home">

  <section class="section content introduction">
   <div class="flexrow">
     <div class="flexrow-item introduction-text">
       <h1 class="title">{{__ 'main title'}}</h1>
       <h2 class="main-subtitle">{{__ 'main subtitle'}}</h1>
         <button class="button is-large">
         Try it for free
         </button>
     </div>
     <div class="flexrow-item introduction-picture">
       <img src="/images/collaboration.svg" />
     </div>
   </div>
  </section>

  <div class="modal" id="kitsu-video">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-16by9">
        <div id="youtube-player"></div>
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <section class="section content trusted">
    
    <h4 class="section-subtitle has-text-centered">
      {{__ 'main explaination trusted'}}
    </h4>
    <div class="flexrow">
        <div class="flexrow-item mr0">
          <a href="https://makutavfx.com/">
            <img src="/images/logo-makuta.png">
          </a>
        </div>
        <div class="flexrow-item mr0">
          <a href="https://stimstudio.com/">
            <img src="/images/logo-stim.png">
          </a>
        </div>
        <div class="flexrow-item mr0">
          <a href="https://woodblock.tv/">
            <img src="/images/logo-woodblock.svg" />
          </a>
        </div>
        <div class="flexrow-item mr0">
          <a href="https://www.viridianfx.co.uk/">
            <img src="/images/logo-viridian.png">
          </a>
        </div>
        <div class="flexrow-item mr0">
          <a href="https://dirtylooks.co.uk/">
            <img src="/images/logo-dirty-looks.png">
          </a>
        </div>
    </div>
  </section>

  <section class="section content">
    <h2 class="subtitle tagline">
      {{__ 'main tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main explaination one'}}
    </p>
  </section>

  <section class="section content landing-block customer-story mt2">
    <a href="https://blog.cg-wire.com/customer-story-fost-studio/">
    <div class="flexrow reverse">
        <div class="flexrow-item landing-picture">
          <img src="/images/photo-customer-story-makuta.png" />
        </div>
        <div class="flexrow-item landing-text">
          <h2 class="section-subtitle">
            Customer Story:<br/> Makuta Studio
          </h2>
          <p>
            <em>
              "{{__ 'main customer story makuta'}}"
            </em><br />
          </p>
          <p class="mt1">
            Pete Draper, Co-Founder
          </p>
        </div>
    </div>
    </a>
  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title one'}}
        </h2>
        <p>
          {{__ 'main explaination text one'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-overview.png" />
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-data.png" />
      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title two'}}
        </h2>
        <p>
          {{__ 'main explaination text two'}}
        </p>
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title three'}}
        </h2>
        <p>
          {{__ 'main explaination text three'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-faster.png" />
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-together.png" />
      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title four'}}
        </h2>
        <p>
          {{__ 'main explaination text four'}}
        </p>
      </div>
    </div>
  </section>

  <section class="section content has-text-centered">
    <h2 class="subtitle">
      {{__ 'zou contact introduction'}}
    </h2>
    <p>
      <a 
        class="button is-large" 
        href="https://account.cg-wire.com/{{ locale }}/signup"
      >
        {{__ 'main plans cta' }}
      </a>
    </p>
  </section>
  </div>

  <section class="section content conclusion conclusion-text">
    <h2 class="subtitle tagline">
      {{__ 'main conclusion tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main conclusion text'}}
    </p>
  </section>
{{> footer }}
