---
metaTitle: main title
metaDescription: main explaination one
permalink: false

locale:
name: index
pathTo: .
---

{{> header }}

  <div class="home">

  <section class="section content introduction">
   <div class="flexrow">
     <div class="flexrow-item introduction-text">
       <h1 class="title">{{__ 'main title'}}</h1>
       <h2 class="main-subtitle">{{__ 'main subtitle'}}</h1>
         <a class="button" href="https://account.cg-wire.com/signup">
           {{__ 'main plans cta'}}
         </a>
     </div>
     <div class="flexrow-item introduction-picture">
       <img src="/images/studio.png" />
     </div>
   </div>
  </section>

  <section class="section content">
    <h2 class="subtitle tagline">
      {{__ 'main tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main explaination one'}}
    </p>
  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title one'}}
        </h2>
        <p>
          {{__ 'main explaination text one'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-overview.png" />
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-data.png" />
      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title two'}}
        </h2>
        <p>
          {{__ 'main explaination text two'}}
        </p>
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title three'}}
        </h2>
        <p>
          {{__ 'main explaination text three'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-faster.png" />
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
        <img src="/images/landing-together.png" />
      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title four'}}
        </h2>
        <p>
          {{__ 'main explaination text four'}}
        </p>
      </div>
    </div>
  </section>


  <section class="section content has-text-centered">
    <h2 class="subtitle">
      {{__ 'zou contact introduction'}}
    </h2>
    <p>
      <a class="button is-large" href="https://account.cg-wire.com/signup">
        {{__ 'main plans cta' }}
      </a>
    </p>
  </section>
  </div>

  <section class="has-text-centered clients">
    <a href="http://www.unit-image.fr/">
      <img alt="Unit Image Logo" src="/images/logo-unit-image.png">
    </a>
    <a href="http://www.cube-creative.com/">
      <img alt="Cube Creative Logo" src="/images/logo-cube.png">
    </a>
    <a href="http://www.tunouszapasvus.fr/">
      <img alt="TuNouZaPaVu Logo" src="/images/logo-tnzpv.png">
    </a>
    <a href="http://les-fees-speciales.coop/">
      <img alt="Les Fées Spéciales Logo" src="/images/logo-les-fees-speciales.png">
    </a>
    <a href="http://www.karlab.fr/">
      <img alt="Karlab Logo" src="/images/logo-karlab.png">
    </a>
    <a href="https://www.menhirfx.com/">
      <img alt="Menhir Logo" src="/images/logo-menhir.png">
    </a>
    <a href="http://blog.autourdeminuit.com/">
      <img alt="Autour de Minuit Logo" src="/images/logo-autour-de-minuit.png">
    </a>
    <a href="http://www.madlab-animations.com/">
      <img alt="Madlab Logo" src="/images/logo-madlab.png">
    </a>
    <a href="https://nouvellesimages.xyz/">
      <img alt="ENI Logo" src="/images/logo-eni.png">
    </a>
    <a href="https://lisaa.com/">
      <img alt="LISAA Logo" src="/images/logo-lisaa.png">
    </a>
    <a href="http://vfx-workshop.com/">
      <img alt="VFX Workshop Logo" src="/images/logo-vfx-workshop.png">
    </a>
  </section>
 
  <section class="section content conclusion conclusion-text">
    <h2 class="subtitle tagline">
      {{__ 'main conclusion tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main conclusion text'}}
    </p>
  </section>

  <section 
    class="section content has-text-centered conclusion conclusion-picture"
  >
    <img src="/images/studio_collaboration.png" />
  </section>
{{> footer }}
