---
metaTitle: integrations title
metaDescription: integrations explaination one
permalink: false

name: solution
locale:
pathTo: .
---

{{> header }}
<div class="kitsu-page integrations">
  <section class="section content">
    <div class="tile">
      <div class="tile is-6 is-child">
        <h2 class="mt2">
          <span class="section-subtitle">{{__ 'integrations subtitle'}}</span>
          <span class="section-title">{{__ 'integrations tagline'}}</span>
        </h2>
        <p class="pr1">
          {{__ 'integrations explaination one'}}
        </p>
      </div>
      <div class="is-6 is-hidden-mobile pl1">
        <img src="/images/central.png" alt="" />
      </div>
    </div>
  </section>
  <section class="section mt0 pt0">
    </h2>
    <div class="section-subtitle has-text-centered">
     {{__ 'integrations subtitle dcc'}}
    </div>
    <h2 class="section-title has-text-centered">
     {{__ 'integrations title dcc'}}
    </h2>

    <div class="flexrow mt2 mb4">
      <a 
        href="https://github.com/cgwire/kitsu-publisher-next#readme" 
        class="software flexrow-item"
      >
        <img 
          class="w75pe" 
         src="/images/integrations/logo-blender.png" 
          alt="Blender Logo" 
        />
      </a>
      <a 
        href="https://github.com/cgwire/kitsu-publisher-next#readme" 
        class="software flexrow-item"
      >
        <img 
          class="w50pe" 
          src="/images/integrations/logo-nuke.png" 
          alt="Nuke Studio Logo"
        />
      </a>
      <a 
        href="https://github.com/EmberLightVFX/Kitsu-for-Prism" 
        class="software flexrow-item"
      >
        <img 
          class="w75pe" 
          src="/images/integrations/logo-prism.png" 
          alt="Prism Logo" />
        <span class="made-by-community">
         community contribution
        </span>
      </a>
    </div>

    <div class="section-subtitle has-text-centered mt2">
     {{__ 'integrations subtitle chats'}}
    </div>
    <h2 class="section-title has-text-centered">
     {{__ 'integrations title chats'}}
    </h2>
    <div class="flexrow mt2 mb4">
      <a 
        href="https://kitsu.cg-wire.com/slack/" 
        class="software flexrow-item"
      >
        <img 
          class="w75pe" 
           src="/images/integrations/logo-slack.png" 
          alt="Slack Logo" 
        />
      </a>
      <a 
        href="https://kitsu.cg-wire.com/mattermost/" 
        class="software flexrow-item"
      >
        <img 
          class="w75pe" 
          src="/images/integrations/logo-mattermost.png" 
          alt="Mattermost Logo"
        />
      </a>
      <a 
        href="https://kitsu.cg-wire.com/discord/" 
        class="software flexrow-item"
      >
        <img class="w75pe" src="/images/integrations/logo-discord.png" alt="Discord Logo" />
      </a>
    </div>

    <div class="section-subtitle has-text-centered mt2">
     {{__ 'integrations subtitle software'}}
    </div>
    <h2 class="section-title has-text-centered">
     {{__ 'integrations title software'}}
    </h2>
    <div class="flexrow mt2">
      <a 
        href="https://gazu.cg-wire.com" 
        class="software flexrow-item"
      >
        <img 
          class="w50pe" 
          src="/images/integrations/logo-python.png" 
          alt="Python Logo"
        />
      </a>
      <a 
        href="https://github.com/cgwire/kitsu-client-js" 
        class="software flexrow-item"
      >
        <img 
          class="w25pe"
          src="/images/integrations/logo-javascript.png" 
          alt="Javascript Logo" />
      </a>
    </div>
  </section>

</div>

{{> trial }}


{{> footer }}
