---
metaTitle: kitsu title
metaDescription: kitsu explaination one
permalink: false
modal: true

name: solution
locale:
pathTo: .
---

{{> header }}

<div class="kitsu-page">
  <section class="section">
    <div class="tile">
      <div class="tile is-6 is-child content">
        <h2>
          <span class="section-subtitle">{{__ 'kitsu subtitle'}}</span>
          <span class="section-title">{{__ 'kitsu tagline'}}</span>
        </h2>
        <p>
          {{__ 'kitsu explaination one'}}
        </p>
        <p>
          <a href="#kitsu-video" class="toggleModal button button--with-icon is-large">
            <img src="/images/play.svg" alt=""><span>{{__ 'kitsu watch cta'}}</span>
          </a>
        </p>
      </div>
      <div class="is-6 is-hidden-mobile pl1 mt2">
        <img src="/images/landing-overview.png" alt="" />
      </div>
    </div>
  </section>

  <div class="modal" id="kitsu-video">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-16by9">
        <iframe
          class="intro-video"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/Ss0Ta5FjjGM"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <div class="block-colored">
    <section class="section">
      <div class="tile flex-aic">
        <div class="tile is-5 is-child content">
          <h2>
            <span class="section-subtitle">{{__ 'kitsu dashboard subtitle'}}</span>
            <span class="section-title">{{__ 'kitsu dashboard title'}}</span>
          </h2>
          <p>
            {{__ 'kitsu dashboard text one'}}
          </p>
          <p>
            <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
              {{__ 'kitsu dashboard cta'}}
            </a>
          </p>
        </div>
        <div class="tile is-7 is-child content-image">
          <img class="screenshot" src="/images/kitsu-shots.png" />
        </div>
      </div>
    </section>
  </div>

  <section class="section">
    <div class="tile flex-aic content-reverse">
      <div class="tile is-5 is-child content">
        <h2>
          <span class="section-subtitle">{{__ 'kitsu preview subtitle'}}</span>
          <span class="section-title">{{__ 'kitsu preview title'}}</span>
        </h2>
        <p>
          {{__ 'kitsu preview text one'}}
        </p>
        <p>
          <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
            {{__ 'kitsu preview cta'}}
          </a>
        </p>
      </div>
      <div class="tile is-7 is-child content-image">
        <img class="screenshot" src="/images/kitsu-annotations.png" />
      </div>
    </div>
  </section>

  <section class="block-colored">
    <section class="section">
      <div class="tile flex-aic content">
        <div class="tile is-5 is-child content">
          <h2>
            <span class="section-subtitle">{{__ 'kitsu playlist subtitle'}}</span>
            <span class="section-title">{{__ 'kitsu playlist title'}}</span>
          </h2>
          <p>
            {{__ 'kitsu playlist text one'}}
          </p>
          <p>
            <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
              {{__ 'kitsu playlist cta'}}
            </a>
          </p>
        </div>
        <div class="tile is-7 is-child content-image">
          <img class="screenshot" src="/images/kitsu-playlist.png" />
        </div>
      </div>
    </section>
  </section>

  <section class="section">
    <div class="tile flex-jcfe">
      <div class="tile is-child is-12">
        <blockquote class="quote-text quote-text--alt">
          <p>{{__ 'tvshows quote'}}</p>
          <footer class="quote-author"><img class="quote-avatar"
          src="/images/testimonials/cecilehergaux.png"> {{__ 'tvshows quote author'}}</footer>
        </blockquote>
      </div>
    </div>
  </section>

  <div class="block-colored">
    <section class="section">
      <div class="tile flex-aic">
        <div class="tile is-5 is-child content">
          <h2>
            <span class="section-subtitle">{{__ 'kitsu todos subtitle'}}</span>
            <span class="section-title">{{__ 'kitsu todos title'}}</span>
          </h2>
          <p>
            {{__ 'kitsu todos text one'}}
          </p>
          <p>
            <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
              {{__ 'kitsu todos cta'}}
            </a>
          </p>
        </div>
        <div class="tile is-7 is-child content-image">
          <img class="screenshot" src="/images/kitsu-todos.png" />
        </div>
      </div>
    </section>
  </div>

  <section class="section">
    <div class="tile flex-aic content-reverse">
      <div class="tile is-5 is-child content">
        <h2>
          <span class="section-subtitle">{{__ 'kitsu news subtitle'}}</span>
          <span class="section-title">{{__ 'kitsu news title'}}</span>
        </h2>
        <p>
          {{__ 'kitsu news text one'}}
        </p>
        <p>
          <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
            {{__ 'kitsu news cta'}}
          </a>
        </p>
      </div>
      <div class="tile is-7 is-child content-image">
        <img class="screenshot" src="/images/kitsu-news.png" />
      </div>
    </div>
  </section>

  <div class="block-colored">
    <section class="section">
      <div class="tile flex-aic">
        <div class="tile is-5 is-child content">
          <h2>
            <span class="section-subtitle">{{__ 'kitsu statistics subtitle'}}</span>
            <span class="section-title">{{__ 'kitsu statistics title'}}</span>
          </h2>
          <p>
            {{__ 'kitsu statistics text one'}}
          </p>
          <p>
            <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
              {{__ 'kitsu statistics cta'}}
            </a>
          </p>
        </div>
        <div class="tile is-7 is-child content-image">
          <img class="screenshot" src="/images/kitsu-stats.png" />
        </div>
      </div>
    </section>
  </div>

  <section class="section">
    <div class="tile">
      <div class="tile is-child is-12">
        <blockquote class="quote-text">
          <p>{{__ 'shorts quote'}}</p>
          <footer class="quote-author"><img class="quote-avatar"
              src="/images/testimonials/roynietereau.png"> {{__ 'shorts quote author'}}</footer>
        </blockquote>
      </div>
    </div>
  </section>

  <div class="block-colored">
    <section class="section">
      <div class="tile flex-aic">
        <div class="tile is-5 is-child content">
          <h2>
            <span class="section-subtitle">{{__ 'kitsu schedule subtitle'}}</span>
            <span class="section-title">{{__ 'kitsu schedule title'}}</span>
          </h2>
          <p>
            {{__ 'kitsu schedule text one'}}
          </p>
          <p>
            <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
              {{__ 'kitsu schedule cta'}}
            </a>
          </p>
        </div>
        <div class="tile is-7 is-child content-image">
          <img class="screenshot" src="/images/kitsu-schedule.png" />
        </div>
      </div>
    </section>
  </div>

  <section class="section">
    <div class="tile flex-aic content-reverse">
      <div class="tile is-5 is-child content">
        <h2>
          <span class="section-subtitle">{{__ 'kitsu timesheet subtitle'}}</span>
          <span class="section-title">{{__ 'kitsu timesheet title'}}</span>
        </h2>
        <p>
          {{__ 'kitsu timesheet text one'}}
        </p>
        <p>
          <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
            {{__ 'kitsu timesheet cta'}}
          </a>
        </p>
      </div>
      <div class="tile is-7 is-child content-image">
        <img class="screenshot" src="/images/kitsu-timesheet.png" />
      </div>
    </div>
  </section>

  <div class="block-colored">
    <section class="section">
      <div class="tile flex-aic">
        <div class="tile is-5 is-child content">
          <h2>
            <span class="section-subtitle">{{__ 'kitsu team subtitle'}}</span>
            <span class="section-title">{{__ 'kitsu team title'}}</span>
          </h2>
          <p>
            {{__ 'kitsu team text one'}}
          </p>
          <p>
            <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
              {{__ 'kitsu team cta'}}
            </a>
          </p>
        </div>
        <div class="tile is-7 is-child content-image">
          <img class="screenshot" src="/images/kitsu-team.png" />
        </div>
      </div>
    </section>
  </div>

  <div class="block-colored--dark">
    <section class="section">
      <div class="tile flex-aic content-reverse">
        <div class="tile is-5 is-child content">
          <h2>
            <span class="section-subtitle">{{__ 'kitsu dark subtitle'}}</span>
            <span class="section-title">{{__ 'kitsu dark title'}}</span>
          </h2>
          <p>
            {{__ 'kitsu dark text one'}}
          </p>
          <p>
            <a href="https://account.cg-wire.com/signup" class="button button--alt is-large">
              {{__ 'kitsu dark cta'}}
            </a>
          </p>
        </div>
        <div class="tile is-7 is-child content-image">
          <img class="screenshot" src="/images/kitsu-todos.png" />
        </div>
      </div>
    </section>
  </div>
</div>

{{> trial }}

{{> footer }}
