---
metaTitle: kitsu title
metaDescription: kitsu explaination one
permalink: false

name: solution
locale:
pathTo: .
---

{{> header }}

  <section class="section wide content">
    <div class="has-text-centered">
      <img src="images/kitsu.png" />
    </div>
    <h2 class="subtitle">
      {{__ 'kitsu tagline'}}
    </h2>
    <p class="has-text-centered">
      <iframe 
        class="intro-video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Ss0Ta5FjjGM" 
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      ></iframe>
    </p>
    <p>
      {{__ 'kitsu explaination one'}}
    </p>

    <div class="has-text-centered tutorial-links">
      <a href="https://www.youtube.com/watch?v=_rTXdnw7-bg" class="button">
        {{__ 'kitsu video tutorial1 '}}
      </a>
      <a href="https://www.youtube.com/watch?v=RBpO_GVRBtw" class="button">
        {{__ 'kitsu video tutorial2 '}}
      </a>
    </div>

    <div class="has-text-centered mt2">
      <a href="https://kitsu.cg-wire.com" class="">
        {{__ 'kitsu title documentation'}}
      </a>
    </div>

    <div class="block">
      <div>
        <img class="screenshot" src="/images/kitsu-shots.png" />
      </div>
      <div>
        <h3>{{__ 'kitsu why title'}}</h3>
        <p>
          {{__ 'kitsu why one'}}
        </p>
      </div>
    </div>

     <div class="block">
     <div>
       <img class="screenshot" src="/images/kitsu-annotations.png" />
     </div>
     <div>
        <h3>{{__ 'kitsu annotations title'}}</h3>
        <p>
          {{__ 'kitsu annotations one'}}
        </p>
      </div>
    </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-schedule.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu schedule title'}}</h3>
         <p>
           {{__ 'kitsu schedule one'}}
         </p>
       </div>
     </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-news.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu news title'}}</h3>
         <p>
           {{__ 'kitsu news one'}}
         </p>
       </div>
     </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-todos.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu usecase title'}}</h3>
         <p>
           {{__ 'kitsu usecase one'}}
         </p>
       </div>
     </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-playlist.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu playlist title'}}</h3>
         <p>
           {{__ 'kitsu playlist one'}}
         </p>
       </div>
     </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-stats.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu stats title'}}</h3>
         <p>
           {{__ 'kitsu stats one'}}
         </p>
       </div>
     </div>

     <div class="block">
     <div>
       <img class="screenshot" src="/images/kitsu-timesheet.png" />
     </div>
     <div>
        <h3>{{__ 'kitsu timesheets title'}}</h3>
        <p>
          {{__ 'kitsu timesheets one'}}
        </p>
      </div>
    </div>

    <div class="block">
      <div>
        <img class="screenshot" src="/images/kitsu-team.png" />
      </div>
      <div>
        <h3>{{__ 'kitsu team title'}}</h3>
        <p>
          {{__ 'kitsu team one'}}
        </p>
      </div>
    </div>
  </section>
   
  <section class="section content">
    <h2 class="subtitle has-text-centered">
      {{__ 'kitsu contact introduction'}}
    </h2>
    <p class="has-text-centered">
      <a class="button is-large" href="https://account.cg-wire.com/signup">
        {{__ 'main plans cta'}}
      </a>
    </p>
    <p class="has-text-centered">
      <a href="https://kitsu.cg-wire.com">
        {{__ 'kitsu contact documentation'}}
      </a>
    </p>
  </section>
  
{{> footer }}
