---
metaTitle: kitsu title
metaDescription: kitsu explaination one
permalink: false
modal: true

name: solution
locale:
pathTo: .
---

{{> header }}

  <section class="section">
    <div class="tile">
      <div class="tile is-6 is-child content">
        <h2>
          <span class="section-subtitle">{{__ 'kitsu subtitle'}}</span>
          <span class="section-title">{{__ 'kitsu tagline'}}</span>
        </h2>
        <p>
          {{__ 'kitsu explaination one'}}
        </p>
        <p>
          <a href="#kitsu-video" class="toggleModal button button--with-icon is-large">
            <img src="/images/play.svg" alt=""><span>{{__ 'kitsu watch cta'}}</span>
          </a>
        </p>
      </div>
      <div class="tile is-6 is-hidden-mobile pl1">
        <img src="/images/productivity.svg" alt="" />
      </div>
    </div>
    <div class="tile mt2 choice-wrapper">
      <div class="tile is-6 is-vertical has-text-centered pr0-5">
        <div class="choice">
          <h2 class="title">{{__ 'kitsu choice manager title'}}</h2>
          <div>
            <ul class="check-list">
              <li>{{__ 'kitsu choice manager item 1'}}</li>
              <li>{{__ 'kitsu choice manager item 2'}}</li>
            </ul>
            <div>
              <a href="https://www.youtube.com/watch?v=_rTXdnw7-bg" class="button button--alt is-large is-multiline">
                {{__ 'kitsu video tutorial1 '}}
              </a>
            </div>
            <div>
              <a href="https://kitsu.cg-wire.com" class="button button--transparent is-large">
                {{__ 'kitsu title documentation'}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-6 is-vertical has-text-centered pl0-5">
        <div class="choice">
          <h2 class="title">{{__ 'kitsu choice artists title'}}</h2>
          <div>
            <ul class="check-list">
              <li>{{__ 'kitsu choice artists item 1'}}</li>
              <li>{{__ 'kitsu choice artists item 2'}}</li>
            </ul>
            <div>
              <a href="https://www.youtube.com/watch?v=RBpO_GVRBtw" class="button button--alt is-large">
                {{__ 'kitsu video tutorial2 '}}
              </a>
            </div>
            <div>
              <a href="https://kitsu.cg-wire.com" class="button button--transparent is-large">
                {{__ 'kitsu title documentation'}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal" id="kitsu-video">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image is-16by9">
        <iframe
          class="intro-video"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/Ss0Ta5FjjGM"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

    <div class="block">
      <div>
        <img class="screenshot" src="/images/kitsu-shots.png" />
      </div>
      <div>
        <h3>{{__ 'kitsu why title'}}</h3>
        <p>
          {{__ 'kitsu why one'}}
        </p>
      </div>
    </div>

     <div class="block">
     <div>
       <img class="screenshot" src="/images/kitsu-annotations.png" />
     </div>
     <div>
        <h3>{{__ 'kitsu annotations title'}}</h3>
        <p>
          {{__ 'kitsu annotations one'}}
        </p>
      </div>
    </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-schedule.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu schedule title'}}</h3>
         <p>
           {{__ 'kitsu schedule one'}}
         </p>
       </div>
     </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-news.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu news title'}}</h3>
         <p>
           {{__ 'kitsu news one'}}
         </p>
       </div>
     </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-todos.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu usecase title'}}</h3>
         <p>
           {{__ 'kitsu usecase one'}}
         </p>
       </div>
     </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-playlist.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu playlist title'}}</h3>
         <p>
           {{__ 'kitsu playlist one'}}
         </p>
       </div>
     </div>

     <div class="block">
       <div>
         <img class="screenshot" src="/images/kitsu-stats.png" />
       </div>
       <div>
         <h3>{{__ 'kitsu stats title'}}</h3>
         <p>
           {{__ 'kitsu stats one'}}
         </p>
       </div>
     </div>

     <div class="block">
     <div>
       <img class="screenshot" src="/images/kitsu-timesheet.png" />
     </div>
     <div>
        <h3>{{__ 'kitsu timesheets title'}}</h3>
        <p>
          {{__ 'kitsu timesheets one'}}
        </p>
      </div>
    </div>

    <div class="block">
      <div>
        <img class="screenshot" src="/images/kitsu-team.png" />
      </div>
      <div>
        <h3>{{__ 'kitsu team title'}}</h3>
        <p>
          {{__ 'kitsu team one'}}
        </p>
      </div>
    </div>
  </section>
   
  <section class="section content">
    <h2 class="subtitle has-text-centered">
      {{__ 'kitsu contact introduction'}}
    </h2>
    <p class="has-text-centered">
      <a class="button is-large" href="https://account.cg-wire.com/signup">
        {{__ 'main plans cta'}}
      </a>
    </p>
    <p class="has-text-centered">
      <a href="https://kitsu.cg-wire.com">
        {{__ 'kitsu contact documentation'}}
      </a>
    </p>
  </section>
  
{{> footer }}
