---
layout: base.html

metaTitle: kitsu title
metaDescription: kitsu explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section wide content">
    <div class="has-text-centered">
      <img src="images/kitsu.png" />
    </div>
    <h2 class="subtitle">
      {{__ 'kitsu tagline'}}
    </h2>
    <p>
      {{__ 'kitsu explaination one'}}
    </p>
      
    <div class="block">
      <div>
        <img class="screenshot" src="/images/kitsu-shots.png" />
      </div>
      <div>
        <h3>{{__ 'kitsu why title'}}</h3>
        <p>
          {{__ 'kitsu why one'}}
        </p>
      </div>
    </div>

     <div class="block">
     <div>
       <img class="screenshot" src="/images/kitsu-todos.png" />
     </div>
     <div>
        <h3>{{__ 'kitsu usecase title'}}</h3>
        <p>
          {{__ 'kitsu usecase one'}}
        </p>
      </div>
    </div>
 
    <div class="block">
      <div>
        <img class="screenshot" src="/images/kitsu-team.png" />
      </div>
      <div>
        <h3>{{__ 'kitsu features title'}}</h3>
        <ul>
          <li>
            {{__ 'kitsu features one'}}
          </li>
          <li>
            {{__ 'kitsu features two'}}
          </li>
          <li>
            {{__ 'kitsu features three'}}
          </li>
          <li>
            {{__ 'kitsu features four'}}
          </li>
        </ul>
      </div>
    </div>
  </section>
  
  <section class="section content">
    <h2 class="subtitle has-text-centered">
      {{__ 'kitsu contact introduction'}}
    </h2>
    <p class="has-text-centered">
      <a href="/{{ locale }}/pricing.html" class="button is-large">
        {{__ 'main plans cta'}}
      </a>
    </p>
    <p class="has-text-centered">
      <a href="https://kitsu.cg-wire.com">
        {{__ 'kitsu contact documentation'}}
      </a>
    </p>
  </section>

{{> footer }}
