---
metaTitle: pricing title
metaDescription: pricing explaination one
permalink: false

name: pricing
locale:
pathTo: .
---

{{> header }}

  <section class="section content pricing">
    <h2 class="subtitle">
      {{__ 'pricing tagline'}}
    </h2>
  
    <p class="has-text-centered mt2">
      <button class="button frequence" id="monthly-button">
        {{__ 'pricing monthly'}}
      </button>
      <button class="button frequence active" id="yearly-button">
        {{__ 'pricing yearly'}}
      </button>
    </p>

    <div class="pricings">
      <div class="pricing-block">
        <div class="pricing-title">
          {{__ 'pricing title tiny'}}
        </div>
        <div class="pricing-price">
          <span class="pricing-currency">€</span>
          <span class="pricing-value yearly">24</span>
          <span class="pricing-value monthly hidden">29</span>
          {{__ 'pricing value month'}}
        </div>
        <div class="pricing-price-info">
         {{__ 'pricing billed annualy'}}
        </div>
        <div class="pricing-features">
          <ul>
            <li>
              {{__ 'pricing features common one'}}
            </li>
            <li>
              {{__ 'pricing features common two'}}
            </li>
            <li>
              {{__ 'pricing features common three'}}
            </li>
            <li>
              {{__ 'pricing features common four'}}
            </li>
            <li>
              {{__ 'pricing features tiny one'}}
            </li>
            <li>
              {{__ 'pricing features tiny two'}}
            </li>
            <li>
              {{__ 'pricing features tiny three'}}
            </li>
            <li>
              {{__ 'pricing features tiny four'}}
            </li>
            <li>
              {{__ 'pricing features tiny five'}}
            </li>
          </ul>
        </div>
        <div class="pricing-cta">
          <a 
            href="https://account.cg-wire.com/signup" 
            class="button is-outlined"
          >
            {{__ 'pricing button cta'}}
          </a>
        </div>
      </div>

      <div class="pricing-block pricing-emphasize">
        <div class="pricing-title">
          {{__ 'pricing title free'}}
        </div>
        <div class="pricing-price">
          <span class="pricing-currency">€</span>
          <span class="pricing-value yearly">199</span>
          <span class="pricing-value monthly hidden">249</span>
          {{__ 'pricing value month'}}
        </div>
        <div class="pricing-price-info">
         {{__ 'pricing billed annualy'}}
        </div>
        <div class="pricing-features">
          <ul>
            <li>
              {{__ 'pricing features common one'}}
            </li>
            <li>
              {{__ 'pricing features common two'}}
            </li>
            <li>
              {{__ 'pricing features common three'}}
            </li>
            <li>
              {{__ 'pricing features common four'}}
            </li>
            <li>
              {{__ 'pricing features small one'}}
            </li>
            <li>
              {{__ 'pricing features small two'}}
            </li>
            <li>
              {{__ 'pricing features small three'}}
            </li>
            <li>
              {{__ 'pricing features small four'}}
            </li>
            <li>
              {{__ 'pricing features small five'}}
            </li>
          </ul>
        </div>
        <div class="pricing-cta">
          <a 
            href="https://account.cg-wire.com/signup" 
            class="button is-outlined"
          >
            {{__ 'pricing button cta'}}
          </a>
        </div>
      </div>

      <div class="pricing-block">
        <div class="pricing-title">
          {{__ 'pricing title basic'}}
        </div>
        <div class="pricing-price">
          <span class="pricing-currency">€</span>
          <span class="pricing-value yearly">479</span>
          <span class="pricing-value monthly hidden">599</span>
          {{__ 'pricing value month'}}
        </div>
        <div class="pricing-price-info">
         {{__ 'pricing billed annualy'}}
        </div>
        <div class="pricing-features">
          <ul>
            <li>
              {{__ 'pricing features common one'}}
            </li>
            <li>
              {{__ 'pricing features common two'}}
            </li>
            <li>
              {{__ 'pricing features common three'}}
            </li>
            <li>
              {{__ 'pricing features common four'}}
            </li>
            <li>
              {{__ 'pricing features medium one'}}
            </li>
            <li>
              {{__ 'pricing features medium two'}}
            </li>
            <li>
              {{__ 'pricing features medium three'}}
            </li>
            <li>
              {{__ 'pricing features medium four'}}
            </li>
            <li>
              {{__ 'pricing features medium five'}}
            </li>
          </ul>
        </div>
        <div class="pricing-cta">
          <a href="https://account.cg-wire.com/signup" class="button is-outlined">
            {{__ 'pricing button cta'}}
          </a>
        </div>
      </div>

      <div class="pricing-block">
        <div class="pricing-title">
          {{__ 'pricing title medium' }}
        </div>
        <div class="pricing-price">
          <span class="pricing-currency">€</span>
          <span class="pricing-value yearly">1599</span>
          <span class="pricing-value monthly hidden">1999</span>
          {{__ 'pricing value month'}}
        </div>
        <div class="pricing-price-info">
         {{__ 'pricing billed annualy'}}
        </div>
        <div class="pricing-features">
          <ul>
            <li>
              {{__ 'pricing features common one'}}
            </li>
            <li>
              {{__ 'pricing features common two'}}
            </li>
            <li>
              {{__ 'pricing features common three'}}
            </li>
            <li>
              {{__ 'pricing features common four'}}
            </li>
            <li>
              {{__ 'pricing features large one'}}
            </li>
            <li>
              {{__ 'pricing features large two'}}
            </li>
            <li>
              {{__ 'pricing features large three'}}
            </li>
            <li>
              {{__ 'pricing features large four'}}
            </li>
            <li>
              {{__ 'pricing features large five'}}
            </li>
            <li>
              {{__ 'pricing features large six'}}
            </li>
          </ul>
        </div>
        <div class="pricing-cta">
          <a href="https://account.cg-wire.com/signup" class="button is-outlined">
            {{__ 'pricing button cta'}}
          </a>
        </div>
      </div>

      <!--div class="pricing-block">
        <div class="pricing-title">
          {{__ 'pricing title enterprise' }}
        </div>
        <div class="pricing-price">
          <span class="pricing-currency">€</span>
          <span class="pricing-value">7999</span>
          {{__ 'pricing value month'}}
        </div>
        <div class="pricing-price-info">
         {{__ 'pricing billed annualy'}}
        </div>
        <div class="pricing-features">
          <ul>
            <li>
              {{__ 'pricing features entreprise one'}}
            </li>
            <li>
              {{__ 'pricing features enterprise two'}}
            </li>
            <li>
              {{__ 'pricing features enterprise three'}}
            </li>
            <li>
              {{__ 'pricing features enterprise four'}}
            </li>
            <li>
              {{__ 'pricing features enterprise five'}}
            </li>
            <li>
              {{__ 'pricing features enterprise six'}}
            </li>
            <li>
              {{__ 'pricing features enterprise seven'}}
            </li>
          </ul>
        </div>
        <div class="pricing-cta">
          <a href="https://account.cg-wire.com/signup" class="button is-outlined">
            {{__ 'pricing button cta'}}
          </a>
        </div>
      </div-->

    </div>

    <p class="has-text-centered pricing-details">
      {{__ 'pricing discount details'}}
    </p>

    <h2 class="subtitle has-text-centered">
      {{__ 'pricing support license title'}}
    </h2>
    <p class="has-text-centered">
       {{__ 'pricing support license details'}}
    </p>

    <h2 class="subtitle has-text-centered">
      {{__ 'pricing school title'}}
    </h2>
    <p class="has-text-centered">
      {{__ 'pricing school details'}}
    </p>

    <h2 class="subtitle has-text-centered">
      {{__ 'pricing opensource title'}}
    </h2>
    <p class="has-text-centered">
      {{__ 'pricing opensource details'}}
    </p>
    <p class="has-text-centered">
      <a href="https://zou.cg-wire.com">
        {{__ 'pricing opensource install'}}
      </a>
    </p>
  </section>

  <section 
    class="section content has-text-centered conclusion conclusion-picture"
  >
    <img src="/images/studio_collaboration.png" />
  </section>

  <script>
  function hideByClassName (className) {
    var els = document.getElementsByClassName(className)
    for (i = 0 ; i < els.length ; i++) {
      els[i].className += ' hidden'
    }
  }

  function showByClassName (className) {
    var els = document.getElementsByClassName(className)
    for (i = 0 ; i < els.length ; i++) {
      els[i].className = els[i].className.replace(' hidden', '')
    }
  }

  var monthlyButton = document.getElementById('monthly-button')
  var yearlyButton = document.getElementById('yearly-button')
  monthlyButton.addEventListener('click', function () {
    if (monthlyButton.className.indexOf('active') < 0) {
      hideByClassName('yearly')
      hideByClassName('pricing-price-info')
      showByClassName('monthly')
      monthlyButton.className += ' active'
      yearlyButton.className = yearlyButton.className.replace(' active', '')
    }
  })
  yearlyButton.addEventListener('click', function () {
    if (yearlyButton.className.indexOf('active') < 0) {
        hideByClassName('monthly')
        showByClassName('pricing-price-info')
        showByClassName('yearly')
        yearlyButton.className += ' active'
        monthlyButton.className = monthlyButton.className.replace(' active', '')
    }
  })
  </script>
{{> footer }}
