---
metaTitle: schools title
metaDescription: about explaination one
permalink: false
tabs: true

name: usecase
locale:
pathTo: .
---

{{> header }}

  <section class="section content use-case">
    <h2>
      <span class="section-subtitle">{{__ 'schools subtitle'}}</span>
      <span class="section-title">{{__ 'schools title'}}</span>
    </h2>
    <div class="js-tabs" data-existing-hx="h3" data-tabs-prefix-class="example-tabs">
      <ul class="js-tablist">
        <li class="js-tablist__item">
          <a href="#students" class="js-tablist__link"><img src="/images/avatars/avatar-4.svg" alt="">{{__ 'schools people title 1'}}</a>
        </li>
        <li class="js-tablist__item">
          <a href="#directors" class="js-tablist__link"><img src="/images/avatars/avatar-9.svg" alt="">{{__ 'schools people title 3'}}</a>
        </li>
        <li class="js-tablist__item">
          <a href="#teachers" class="js-tablist__link"><img src="/images/avatars/avatar-7.svg" alt="">{{__ 'schools people title 2'}}</a>
        </li>
      </ul>
     <div id="students" class="js-tabcontent">
      <h3>{{__ 'schools people title 1'}}</h3>
      <p>
        {{__ 'schools people desc 1-1'}}
      </p>
      <p>
        {{__ 'schools people desc 1-2'}}
      </p>
      <p>
        {{__ 'schools people desc 1-3'}}
      </p>
     </div>
     <div id="teachers" class="js-tabcontent">
      <h3>{{__ 'schools people title 2'}}</h3>
      <p>
        {{__ 'schools people desc 2-1'}}
      </p>
      <p>
        {{__ 'schools people desc 2-2'}}
      </p>
     </div>
     <div id="directors" class="js-tabcontent">
      <h3>{{__ 'schools people title 3'}}</h3>
      <p>
        {{__ 'schools people desc 3-1'}}
      </p>
      <p>
        {{__ 'schools people desc 3-2'}}
      </p>
      <p>
        {{__ 'schools people desc 3-3'}}
      </p>
     </div>
    </div>
  </section>

  <div class="quote">
    <section>
      <blockquote class="quote-text">
        <p>{{__ 'schools quote'}}</p>
        <footer class="quote-author">
          <img
            class="quote-avatar"
            src="/images/testimonials/carlosdecarvalho.png"
          />
          {{__ 'schools quote author'}}
        </footer>
      </blockquote>
    </section>
  </div>

  <section class="section">
    <h2 class="title">{{__ 'schools reasons title'}}</h2>
    <ul class="check-list">
      <li>{{__ 'schools reasons item 1'}}</li>
      <li>{{__ 'schools reasons item 2'}}</li>
      <li>{{__ 'schools reasons item 3'}}</li>
    </ul>
    <p>
      <a class="button button--alt is-large" href="https://account.cg-wire.com/signup">
        {{__ 'schools button demo'}}
      </a>
    </p>
  </section>

  <section class="section">
    <ul class="customers">
      <li class="customers-item"><img src="/images/logo-ecole_nouvelles_images-invert.png" alt="École des nouvelles images"></li>
      <li class="customers-item"><img src="/images/logo-lisaa-invert.svg" alt="LISAA"></li>
      <li class="customers-item"><img src="/images/logo-esra-invert.png" alt="ESRA"></li>
      <li class="customers-item"><img src="/images/logo-artfx-invert.png" alt="ArtFX"></li>
      <li class="customers-item"><img src="/images/logo-bellecour-invert.png" alt="Bellecour"></li>
      <li class="customers-item"><img src="/images/logo-pole3d-invert.png" alt="Pôle 3D"></li>
      <li class="customers-item"><a href="https://www.gobelins.fr"><img src="/images/logo-gobelins.png" alt="Les gobelins"></a></li>
      <li class="customers-item"><a href="https://www.isart.fr/"><img src="/images/logo-isart.png" alt="ISART Digital"></a></li>
    </ul>
  </section>

{{> footer }}
