---
metaTitle: spreadsheets title
metaDescription: spreadsheets explaination one
permalink: false
name: spreadsheets

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
    <h2 class="subtitle">
      {{__ 'spreadsheets tagline'}}
    </h2>
    <p>
      {{__ 'spreadsheets explaination one'}}
    </p>
  </section>

  <section class="section content">
    <h2 class="subtitle">
      {{__ 'spreadsheets short planning title'}}
    </h2>
    <p class="has-text-centered">
      <a
      href="https://docs.google.com/spreadsheets/d/1z9QR-0NMdcb7jt-EthYHX4DnF3v3KunZBrAvIGvC1Fw/export?format=xlsx&id=1z9QR-0NMdcb7jt-EthYHX4DnF3v3KunZBrAvIGvC1Fw">
        .xls
      </a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a
      href="https://docs.google.com/spreadsheets/d/1z9QR-0NMdcb7jt-EthYHX4DnF3v3KunZBrAvIGvC1Fw/export?format=ods&id=1z9QR-0NMdcb7jt-EthYHX4DnF3v3KunZBrAvIGvC1Fw">
        .ods
      </a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a
      href="https://docs.google.com/spreadsheets/d/1z9QR-0NMdcb7jt-EthYHX4DnF3v3KunZBrAvIGvC1Fw/export?format=pdf&id=1z9QR-0NMdcb7jt-EthYHX4DnF3v3KunZBrAvIGvC1Fw">
        .pdf
      </a>
    </p>
    <p class="has-text-centered">
      <a
      href="https://docs.google.com/spreadsheets/d/1z9QR-0NMdcb7jt-EthYHX4DnF3v3KunZBrAvIGvC1Fw/edit?usp=sharing"
         target="_blank"
      >
        <img src="/images/spreadsheet-planning-short.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>
    <p class="mt2">
    &nbsp;
    </p>

    <h2 class="subtitle">
      {{__ 'spreadsheets tvshow planning title'}}
    </h2>
    <p class="has-text-centered">
      <a href="https://docs.google.com/spreadsheets/d/1E-8HA48VVgEUSoAho30SJ1Q1oMgvpdrT35lE4-dajkc/export?format=xls&id=1E-8HA48VVgEUSoAho30SJ1Q1oMgvpdrT35lE4-dajkc">
        .xls
      </a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="https://docs.google.com/spreadsheets/d/1E-8HA48VVgEUSoAho30SJ1Q1oMgvpdrT35lE4-dajkc/export?format=ods&id=1E-8HA48VVgEUSoAho30SJ1Q1oMgvpdrT35lE4-dajkc">
        .ods
      </a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="https://docs.google.com/spreadsheets/d/1E-8HA48VVgEUSoAho30SJ1Q1oMgvpdrT35lE4-dajkc/export?format=pdf&id=1E-8HA48VVgEUSoAho30SJ1Q1oMgvpdrT35lE4-dajkc">
        .pdf
      </a>
    </p>
    <p class="has-text-centered">
      <a
      href="https://docs.google.com/spreadsheets/d/1E-8HA48VVgEUSoAho30SJ1Q1oMgvpdrT35lE4-dajkc/edit?usp=sharing"
         target="_blank"
      >
        <img src="/images/spreadsheet-planning-tvshow.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>
    <p class="mt2">
    &nbsp;
    </p>

    <h2 class="subtitle">
      {{__ 'spreadsheets breakdown title'}}
    </h2>
    <p class="has-text-centered">
      <a href="https://docs.google.com/spreadsheets/d/1iHiaHAdYP7kvTs3o3Zx1B_VD3_3RAElPYFg5Zpkhkg8/export?format=xlsx&id=1iHiaHAdYP7kvTs3o3Zx1B_VD3_3RAElPYFg5Zpkhkg8">
        .xls
      </a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="https://docs.google.com/spreadsheets/d/1iHiaHAdYP7kvTs3o3Zx1B_VD3_3RAElPYFg5Zpkhkg8/export?format=ods&id=1iHiaHAdYP7kvTs3o3Zx1B_VD3_3RAElPYFg5Zpkhkg8">
        .ods
      </a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="https://docs.google.com/spreadsheets/d/1iHiaHAdYP7kvTs3o3Zx1B_VD3_3RAElPYFg5Zpkhkg8/export?format=pdf&id=1iHiaHAdYP7kvTs3o3Zx1B_VD3_3RAElPYFg5Zpkhkg8">
        .pdf
      </a>
    </p>
    <p class="has-text-centered">
      <a
         href="https://docs.google.com/spreadsheets/d/1iHiaHAdYP7kvTs3o3Zx1B_VD3_3RAElPYFg5Zpkhkg8/edit?usp=sharing"
         target="_blank"
      >
        <img src="/images/spreadsheet-breakdown.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>
    <p class="mt2">
    &nbsp;
    </p>

    <h2 class="subtitle">
      {{__ 'spreadsheets retake title'}}
    </h2>
    <p class="has-text-centered">
      <a href="https://docs.google.com/spreadsheets/d/1xUNVYie84E2Wr6vohXR3vDW8A1JPmoQTD3-orS-yWBY/export?format=xlsx&id=1xUNVYie84E2Wr6vohXR3vDW8A1JPmoQTD3-orS-yWBY">
        .xls
      </a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="https://docs.google.com/spreadsheets/d/1xUNVYie84E2Wr6vohXR3vDW8A1JPmoQTD3-orS-yWBY/export?format=ods&id=1xUNVYie84E2Wr6vohXR3vDW8A1JPmoQTD3-orS-yWBY">
        .ods
      </a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="https://docs.google.com/spreadsheets/d/1xUNVYie84E2Wr6vohXR3vDW8A1JPmoQTD3-orS-yWBY/export?format=pdf&id=1xUNVYie84E2Wr6vohXR3vDW8A1JPmoQTD3-orS-yWBY">
        .pdf
      </a>
    </p>
    <p class="has-text-centered">
      <a
         href="https://docs.google.com/spreadsheets/d/1xUNVYie84E2Wr6vohXR3vDW8A1JPmoQTD3-orS-yWBY/edit?usp=sharing"
         target="_blank"
      >
        <img src="/images/spreadsheet-retake-list.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>

  </section>

{{> footer }}
