---
metaTitle: spreadsheets title
metaDescription: spreadsheets explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
    <h2 class="subtitle">
      {{__ 'spreadsheets tagline'}}
    </h2>
    <p>
      {{__ 'spreadsheets explaination one'}}
    </p>
  </section>

  <section class="section content">
    <h2 class="subtitle">
      {{__ 'spreadsheets short planning title'}}
    </h2>
    <p class="has-text-centered">
      <a
      href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQyAWYAkJDJq_ZelENyyzTJf5GUfFyotVNuwwfMJ7KPVem1oKv84oIcx1r5gozinOWTiMwMSrnuvTOR/pubhtml"
         target="blank"
      >
        <img src="/images/spreadsheet-planning-short.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>
    <p class="mt2">
    &nbsp;
    </p>
    <h2 class="subtitle">
      {{__ 'spreadsheets tvshow planning title'}}
    </h2>
    <p class="has-text-centered">
      <a
      href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQSnZ4XL9LfwBcBO1Tn7s85h9NczvXqhQxx0OpCrKe_0GM3uL79TW52TiIiHVOoK_-YI-HGw9nKe4Tz/pubhtml"
         target="blank"
      >
        <img src="/images/spreadsheet-planning-tvshow.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>
    <p class="mt2">
    &nbsp;
    </p>
    <h2 class="subtitle">
      {{__ 'spreadsheets breakdown title'}}
    </h2>
    <p class="has-text-centered">
      <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQzpOam2pkVGiYpT4onoUqK37sHd0iAhvaOVUdBTv76oklCp5ZUNmkp5S53gWewpQbEBMHL0tMkTRWA/pubhtml"
         target="blank"
      >
        <img src="/images/spreadsheet-breakdown.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>
  </section>

{{> footer }}
