---
metaTitle: spreadsheets title
metaDescription: spreadsheets explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
    <h2 class="subtitle">
      {{__ 'spreadsheets tagline'}}
    </h2>
    <p>
      {{__ 'spreadsheets explaination one'}}
    </p>
  </section>

  <section class="section content">
    <h2 class="subtitle">
      {{__ 'spreadsheets short planning title'}}
    </h2>
    <p class="has-text-centered">
      <a
      href="https://docs.google.com/spreadsheets/d/1z9QR-0NMdcb7jt-EthYHX4DnF3v3KunZBrAvIGvC1Fw/edit?usp=sharing"
         target="_blank"
      >
        <img src="/images/spreadsheet-planning-short.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>
    <p class="mt2">
    &nbsp;
    </p>
    <h2 class="subtitle">
      {{__ 'spreadsheets tvshow planning title'}}
    </h2>
    <p class="has-text-centered">
      <a
      href="https://docs.google.com/spreadsheets/d/1E-8HA48VVgEUSoAho30SJ1Q1oMgvpdrT35lE4-dajkc/edit?usp=sharing"
         target="_blank"
      >
        <img src="/images/spreadsheet-planning-tvshow.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>
    <p class="mt2">
    &nbsp;
    </p>
    <h2 class="subtitle">
      {{__ 'spreadsheets breakdown title'}}
    </h2>
    <p class="has-text-centered">
      <a
         href="https://docs.google.com/spreadsheets/d/1iHiaHAdYP7kvTs3o3Zx1B_VD3_3RAElPYFg5Zpkhkg8/edit?usp=sharing"
         target="_blank"
      >
        <img src="/images/spreadsheet-breakdown.png" /> <br />
        Open in Google Spreadsheets
      </a>
    </p>
  </section>

{{> footer }}
