---
metaTitle: zou title
metaDescription: zou explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}
  <section class="section wide content solution">
    <div class="has-text-centered">
      <img src="images/zou.png" />
    </div>
    <h2 class="subtitle">
      {{__ 'zou tagline'}}
    </h2>
    <p>
      {{__ 'zou explaination one'}}
    </p>
      
    <div class="flexrow block">
      <div class="flexrow-item has-text-centered">
        <img class="smaller" src="/images/central.png" />
      </div>
      <div class="flexrow-item">
        <h3>
          {{__ 'zou why title'}}
        </h3>
        <p>
          {{__ 'zou why one'}}
        </p>
      </div>
    </div>
  
    <div class="block middle-block">
    <h3 class="has-text-centered">
      {{__ 'zou features title'}}
    </h3>
      <div class="has-text-centered">
        <img class="smaller" src="/images/pipeline.png" />
      </div>
      <div class="has-text-centered">
        <ul>
          <li>
            {{__ 'zou features one'}}
          </li>
          <li>
            {{__ 'zou features two'}}
          </li>
          <li>
            {{__ 'zou features three'}}
          </li>
          <li>
            {{__ 'zou features four'}}
          </li>
        </ul>  
      </div>
    </div>
   
    <div class="flexrow block">
      <div class="flexrow-item has-text-centered">
        <img src="/images/softwares.png" />
      </div>
      <div class="flexrow-item">
        <h3>
          {{__ 'zou usecase title'}}
        </h3>
        <p>
          {{__ 'zou usecase one'}}
        </p>
      </div>
    </div>
  </section>
  
  <section class="section content">
    <h2 class="subtitle has-text-centered">
      {{__ 'zou contact introduction'}}
    </h2>
    <p class="has-text-centered">
      <a href="/{{ locale }}/pricing.html" class="button is-large">
        {{__ 'main plans cta'}}
      </a>
    </p>
    <p class="has-text-centered">
      <a href="https://zou.cg-wire.com">
        {{__ 'zou contact documentation'}}
      </a>
    </p>
  </section>

{{> footer }}
