---
layout: base.html

metaTitle: zou title
metaDescription: zou explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section wide content">
    <div class="has-text-centered">
      <img src="images/zou.png" />
    </div>
    <h2 class="subtitle">
      {{__ 'zou tagline'}}
    </h2>
    <p>
      {{__ 'zou explaination one'}}
    </p>
      
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">
        <p>
          {{__ 'zou why one'}}
        </p>
      </div>
    </div>
  
    <div class="columns">
      <div class="column">

        <ul>
          <li>
            {{__ 'zou features one'}}
          </li>
          <li>
            {{__ 'zou features two'}}
          </li>
          <li>
            {{__ 'zou features three'}}
          </li>
          <li>
            {{__ 'zou features four'}}
          </li>
        </ul>
        
      </div>
      <div class="column">
      </div>
    </div>
   
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">
        <p>
          {{__ 'zou usecase one'}}
        </p>
      </div>
    </div>
  
    <h2 class="subtitle has-text-centered">
      {{__ 'zou contact introduction'}}
    </h2>
    <p class="has-text-centered">
      <a href="mailto:contact@cg-wire.com" class="button is-large">
        {{__ 'main contact cta'}}
      </a>
    </p>
    <p class="has-text-centered">
      <a href="https://zou.cg-wire.com">
        {{__ 'zou contact documentation'}}
      </a>
    
    </p>

  </section>

{{> footer }}
