<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CGWire - {{__ metaTitle}}</title>
    <meta name="description" content="{{__ metaDescription }}">
    <meta name="keywords" content="production management pipeline cg cgi blender nuke 3dsmax maya animation movie vfx tracking shotgun alternative">
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <meta property="og:title" content="CGWire - {{__ metaTitle }}">
    <meta property="og:description" content="{{__ metaDescription }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="fr_FR" />
    <meta property="og:locale:alternate" content="zh_CN" />
    <meta property="og:image" content="https://cgwire.com/images/logo.svg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://twitter.com/cgwirenews/">
    <meta name="twitter:title" content="CGWire - {{__ metaTitle }}">
    <meta name="twitter:description" content="{{__ metaDescription }}">
    <meta name="twitter:image" content="https://cgwire.com/images/logo.svg">

    <link rel="stylesheet" href="css/bulma.min.css" media="all">
    <link rel="stylesheet" href="styles/app.css" media="all">
    <!--link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato"--> 
  </head>

  <body>
    {{{ contents }}}

    <div style="" id="cookie-consent" class="cookie-consent flexrow">
      <p class="flexrow-item text">
         {{__ 'main cookies consent'}}
      </p>
      <p class="flexrow-item choice">
        <button id="cookie-ok" class="button default">
           {{__ 'main yes'}}
        </button>
        <button id="cookie-ko" class="button">
           {{__ 'main no'}}
        </button>
      </p>
    </div>

    <script>
    const elementCookieConsent = document.getElementById('cookie-consent')
    const cookieConsent = localStorage.getItem('cookie-consent')
    if (cookieConsent !== null) {
      elementCookieConsent.style.display = 'none'
    }

    const elementYes = document.getElementById('cookie-ok')
    const elementNo = document.getElementById('cookie-ko')
    elementYes.addEventListener('click', function () {
      localStorage.setItem('cookie-consent', 'true')
      elementCookieConsent.style.display = 'none'
    })
    elementNo.addEventListener('click', function () {
      localStorage.setItem('cookie-consent', 'false')
      window.location.reload()
    })
    </script>

    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "CGWire",
  "url" : "https://www.cgwire.com",
  "logo" : "https://www.cgwire.com/images/logo.svg",
  "sameAs" : [
    "http://www.twitter.com/cgwirenews"
  ]
}
    </script>

    <script>
    // Javascript required by Bulma to manage the top menu on mobile.
    document.addEventListener('DOMContentLoaded', function () {
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});
    </script>
    <!--script type="text/javascript">
      var isOk = localStorage.getItem('cookie-consent');
      if (isOk !== 'false') {
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//cgwire.innocraft.cloud/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '1']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      }
    </script-->
    <!-- End Piwik Code -->

    <!-- Begin Crisp Code -->
    <!--script type="text/javascript">
      var isOk = localStorage.getItem('cookie-consent');
      if (isOk !== 'false') {
        window.$crisp=[];window.CRISP_WEBSITE_ID="11e8be84-486e-45f1-b03c-64fcd817ee7f";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
      }
    </script-->
    <!-- End Crisp Code -->
  </body>
</html>
